[2012-10-11 17:45] p91paul opened #1 "Original extension has updated"
I'm mantaining original palatis extension. If you want, you can syncronize your repo with mine https://github.com/p91paul/gnome-shell-extensions-coverflowalttab.
I've added the window icon onto the preview (I see you added this on bottom) and made some bugfixes.
The same way, if it is ok for you, I will carry some of your code for my extension. If we work together, extension will become better.

[2012-10-13 10:31] #1 closed, assigned to nobody

[2012-12-08 16:48] philipphoffmann opened #2 "Extension settings dialog is not working"
The Readme says there is an extension settings dialog. However there appears to be none using tweak-tool or gnome-shell-extension-prefs.

[2012-12-09 17:53] #2 closed, assigned to nobody

[2012-12-17 23:46] p91paul opened #3 "Hot corner active in windows switching mode"
https://github.com/p91paul/gnome-shell-extensions-coverflowalttab/issues/13
Activate windows switching mode by Alt+Tab and during Alt button you can press Activities button and hot corner also active.
I think it is wrong behavior.

Thanks.

[2012-12-18 20:52] #3 closed, assigned to nobody

[2012-12-19 04:46] srbhp opened #4 "cover flow Hangs"
Hi,
This is a great extension .i am using this in Gnome 3.6.2 on my fedora-18 laptop.
Sometime cover flow hangs and almost not able to do anything other than logging out.
It does not happen if i don't use this extension.
![Screenshot from 2012-12-19 10:00:16](https://f.cloud.github.com/assets/1505628/21249/3bef87c4-4997-11e2-931c-b5f1a38e19a9.png)

I  have attached a screenshot which shows what it

[2012-12-21 15:42] timoloewe opened #5 "Coverflow not displayed properly on multi monitor setups"
With multiple moitors Coverflow doesn't work well, especially when monitors have different resolutions.

[2012-12-21 15:46] timoloewe opened #6 "Coverflow sometimes doesn't update when closing windows with 'q'"
When you close a window with 'q', Coverflow sometimes doesn't update itself and instead shows a 'blank' preview.

[2013-02-01 19:14] xambroz opened #7 "Window in focus is blacked after fast switching of windows."
What's wrong?
If you switch the windows fast couple of times in a row, then the window in focus goes black.
Windows still do display correctly in the "Cover Flow" or the "Activities" view, but once you click on some window and the window is put on focus, then the window shows black. Once you restart gnome-shell with ctrl-f2 + r then everything returns to normal.

What have you tried?
I have tried

[2013-02-06 12:26] MMD-Coding opened #8 "High CPU usage"
With CoverflowAltTab enabled I get permanent CPU-Usage of 50-60% on gnome-shell process. Configuration problem?

Edit: Same problems without CoverflowAltTab. Sorry for the Issue.

[2013-02-06 12:28] #8 closed, assigned to nobody

[2013-02-08 15:09] timoloewe opened #9 "Window title blurry with most themes"
On many themes, the window title box doesn't look very nice. Perhaps changing the style class can improve it.

[2013-02-08 19:28] #9 closed, assigned to nobody

[2013-02-08 19:29] #6 closed, assigned to nobody

[2013-04-10 13:18] Lusito opened #11 "Integration into Cinnamon"
@p91paul:
@dmo60:

Clem from Cinnamon is in favor of making the Coverflow extension available in Cinnamon by default (not as extension, but as a setting).

Would that be OK with you two ?
We will of course mention your work on this.

[2013-04-17 08:35] p91paul opened #12 "3.8 compatibility"
We should try to see if the extension is gnome-shell 3.8 compatible and update metadata accordingly.

[2013-05-05 11:08] timoloewe opened #13 "Let the user change the keybindings via preference dialog"
Since I always hear the same complaints that users want to cycle between windows from all workspaces and the possibility to change the keybindings in system settings is not used to solve that, we should think about providing an easier way to switch the Alt-Tab behaviour.

It would be nice to let the user choose what keybindings are used, and if, for what purpose (switch between windows of current

[2013-05-11 14:59] #11 closed, assigned to nobody

[2013-05-16 21:50] #12 closed, assigned to nobody

[2013-05-20 08:38] #7 closed, assigned to nobody

[2013-05-20 08:40] #5 closed, assigned to nobody

[2013-05-20 08:40] #4 closed, assigned to nobody

[2013-05-20 15:59] rpoulin opened #15 "Display all apps in all works spaces option?"
Hi,
Would it be possible to display all applications in all work spaces instead of all applications in current work space? I haven't run this extension enough to know if this is a feature request or if something is disabled.  If this is a new feature, can the switch be put in the settings?

Once again, thanks for making this extension the best!

Ron

[2013-05-20 17:53] #15 closed, assigned to nobody

[2013-09-14 12:11] Tronic opened #17 "Selected window disappears, desktop shown"
The switcher itself works fine but every now and then, quite possibly when Alt+Tabbing repeatedly in succession, windows no longer get rendered until when Gnome Shell is restarted. Other than being invisible and desktop background being shown instead, they function normally. I am not entirely sure if this is related to the extension or not but I've seen the problem multiple times since installing

[2013-10-02 14:54] p91paul opened #18 "Update for Gnome 3.10"
Gnome 3.10 has been released. I've not even the time to check if it works in those days, and this is not something really pressing, since no distribution includes it in stable branches at the time of writing. However, this issue is here just to rememeber that we should consider working on this.

[2013-10-08 04:35] michalsukupcak opened #19 "Multiple monitors visual glitch"
First of all great extension. :) However there's a small, but quite annoying visual glitch when using it on multi-monitor setup.

When Coverflow is activated, everything works as expected - switcher appears only on primary monitor, secondary (and tertiary) are left "untouched" with original windows. However, after selecting a new window in the switcher and alt key is released, the following animat

[2013-11-08 17:09] #18 closed, assigned to nobody

[2013-12-03 12:04] coiby opened #20 "how to change key bindings"
According to the instructions, we can use system keyboard settings to change key bindings. But I can't find it in keyboard.
![keyboard_001](https://f.cloud.github.com/assets/1511656/1663396/b37e3004-5c12-11e3-89dc-188e5b74ced7.png)

[2013-12-06 13:23] #20 closed, assigned to nobody

[2013-12-21 10:40] p91paul opened #22 "Reviewers are not accepting 3.10 version"
I've seen you posted on extensions.gnome.org a version with 3.10 compatibility. However, since November 08, no one has reviewed it. I've thinked about opening a bug on the gnome bugzilla, since I cannot comment the review, but probably it's better if the solicitation is sent by you, since you are the actual mantainer.

[2013-12-23 19:29] #22 closed, assigned to nobody

[2014-02-12 00:15] ai opened #23 "Last to first animation"
I have 3 window, I press `Alt+Tab` and teh `Tab` 2 times and when I switch from last app in list to first one, there is very strange animation.

Now last to first animation look like I swtich from workplasces (because app list is fly to left and “some new” list fly from right).

[2014-02-13 14:04] allanforever opened #24 "Locked on looping windows"
When I change the dim-factor option and hit Alt+Tab my screen stay locked on the looping window, and i can select text on my terminal behind the config window (see pictures
![captura de tela de 2014-02-12 17 32 32](https://f.cloud.github.com/assets/6664994/2160373/392b2b08-94b7-11e3-9eb4-d51cc24af0e1.png)
![captura de tela de 2014-02-12 17 33 01](https://f.cloud.github.com/assets/6664994/2160374/3

[2014-03-15 12:34] opeterson opened #25 "Compatibility issue with another extension"
Hello!

I've recently run into problems with this extension. I've found that when I have the Optistatus extension turned on, your extension no longer works at all, and the native alt-tab functionality is also disabled. Naturally I just leave Optistatus off to solve this, but I thought you might be interested. Please let me know if there's anything I can do to help, should you decide to investigate

[2014-05-04 11:56] nE0sIghT opened #27 "Update to Gnome 3.12"
Please update this extension to Gnome 3.12 on extensions.gnome.org

[2014-10-17 05:29] ebkalderon opened #28 "[GS 3.14] Coverflow/Timeline Windows Don't Disappear After Releasing Alt+Tab"
I've adored this extension since I first came across it in GNOME Shell 3.6, and I've had to install this extension manually since the 3.12 update never made it to the GNOME Extensions website (you did submit the update to them, right?)

Anyway, Coverflow Alt+Tab appears pretty broken on GNOME Shell 3.14. When I hit Alt+Tab/Super+Tab/Alt+` and cycle through my windows everything works fine, but as

[2014-10-29 10:41] #28 closed, assigned to nobody

[2014-10-31 09:02] DreaminginCodeZH opened #30 "Update on GNOME extensions site"
First of all, thank you for your great work, and I have always loved this extension. Sadly it stopped to work after the upgrade to GNOME 3.14.

But since the 3.14 compatability issue has been fixed by #29 , can you push an update to https://extensions.gnome.org/extension/97/coverflow-alt-tab/ ? So that users can get an update from the official site.

[2015-03-14 18:46] wilfm commented on #30
+∞

[2015-04-12 08:33] mat-mo opened #33 "Please update to gnome 3.16"
Thanks for this great extension, please update it to work with gnome 3.16

[2015-04-13 09:20] dmo60 commented on #33
Done, see #32. Please note, that background dimming is not working yet.

[2015-04-13 09:20] #33 closed

[2015-04-13 09:23] dmo60 commented on #30
I've uploaded a new release with support up to 3.16. It is currently in review, so should be available within a few days. Sorry for letting you down so long, but I had other priorities recently (and still have)...

[2015-04-13 09:23] #30 closed

[2015-04-13 09:24] dmo60 commented on #27
Done, see #30.

[2015-04-13 09:24] #27 closed

[2015-04-15 15:45] jurf opened #34 "Background disappears"
I don't know why or how, but the background just disappeared. It's now longer there. I'll keep you posted if I find any more details.

[2015-04-21 07:24] psykotik1 opened #35 "add option to include windows on all workspaces"

[2015-04-27 18:30] Kruno313 opened #36 "Extension does not work, error on Extension loading"
Hi
I have an permanent problem on Linux Mint 17.1 cinnamon 64Bit. The Extension does not work and I have an error message on start, something like "Cinnamon has problem starting extension..".
The "Looking Glass" shows an error:
"error t=2015-04-27T20:14:50Z [Extension "CoverflowAltTab@dmo60.de"]: Extension is not compatible with current Cinnamon version
error t=2015-04-27T20:14:50Z Could not load

[2015-05-15 11:21] k0377 opened #37 "coverflow stopped working after reboot/shutdown"
I've to disable and re-enable the extension in `gnome-tweak-tool` after every reboot or shutdown. Then coverflow will work again. If I do not, I get the default look of `alt+tab`.

[2015-05-15 12:10] k0377 commented on #37
Installed/enabled extensions:
- alternate tab
- applications menu
- coverflow alt-tab
- dash to dock
- drop down terminal
- media player indicator
- open weather
- rss feed
- window overlay icons

[2015-05-15 20:58] pradhanpk opened #38 "Allow an application to update the previous window state of CoverflowAltTab"
When using emacs with two frames, i.e., the modern-gui equivalent of two windows, I can switch from one frame to another through an emacs shortcut(`C-x 5 o`). However, this does not update CoverFlowAltTab's history of which the previous window was. For example, say I have two emacs frames `E1` and `E2`, and two other application windows, `A` and `B`. Say I am currently on `E1` and got here by alt-

[2015-05-16 03:43] k0377 commented on #37
Hmm, seems to work now but idk why. :joy_cat:

[2015-05-16 05:09] k0377 commented on #37
ok, ive to reopen this, really strange issue.

[2015-05-16 11:35] p91paul commented on #37
You have alternate tab and coverflow alt-tab installed together, and they conflict (they are both alt-tab replacements). Depending on the last one gnome-shell decides to activate, you'll get one or the other.

If you want coverflow, disable alternate and vice-versa.

[2015-05-17 20:07] k0377 commented on #37
You're right, I disabled now alternate tab and coverflow works all the time now! :heart_eyes_cat:

[2015-05-17 20:07] #37 closed

[2015-05-29 15:57] vixsomnis opened #41 "Vi keybinding to supplement arrow keys"
Mainly, this would be useful for keys 'j' or 'h' (left) and 'k' or 'l' (right). I don't see any plans to use these keys for anything, currently.

[2015-06-02 23:17] andreicristianpetcu commented on #35
Please add this feature! :D

[2015-06-04 10:35] p91paul commented on #35
duplicates #13

[2015-06-04 16:08] andreicristianpetcu commented on #35
Thank you @p91paul.

[2015-06-04 16:08] andreicristianpetcu commented on #35
Hmmm I cannot close this issue. Please close it since it is a duplicate.

[2015-06-04 16:52] p91paul commented on #35
only @psykotik1 (reporter) or @dmo60 (owner) can do that!

[2015-06-05 01:42] #35 closed

[2015-06-11 10:04] suokko commented on #19
The problem seems to be rendering position after the animation. Everything is positioned down same amount that my secondary display resolution is higher.

My setup:
internal display at 1600x900
external display at 1280x1024 right from the primary with aligned tops

After switching whole desktop is switched down visually measured exactly the difference in heights. Meaning there is one incorrect fra

[2015-09-01 18:24] alexluecke opened #42 "Extension doesn't load at login on Gnome 3.14"
Extension is not loaded on start up or when Gnome Shell is restarted. Works fine otherwise.

Debian 8
GNOME Shell 3.14.4

[2015-09-01 18:40] alexluecke commented on #42
After looking at the extension and googling a little, this is almost certainly a gnome problem, not Coverflow. https://bugs.launchpad.net/ubuntu/+source/gnome-shell/+bug/1236749

[2015-09-01 20:42] alexluecke commented on #42
It was the former so that's probably not the same issue.

[2015-09-02 07:27] p91paul commented on #42
do you happen to have installed and enabled some other alt-tab modifier, like alternate alt-tab? debian installs it by default AFAIK. If this is the case, you need to disable the other alt-tab extension because it overrides coverflow modifications.

[2015-09-02 16:09] alexluecke commented on #42
Wow good call. I found 'Alternatetab' in my extensions list and disabled it. Works flawlessly.

[2015-09-02 16:09] #42 closed

[2015-09-03 16:20] p91paul commented on #42
Yeah, I cheated :) you're not the first one ;) https://github.com/dmo60/CoverflowAltTab/issues/37

[2015-10-01 18:23] frnogueira opened #43 "pot file to translations"
Is possible provide the pot file to translations?!

[2015-10-03 21:40] Bob131 opened #45 "Support for GNOME 3.18"
Hey! I tried changing the shell-version attr in metadata.json, but the effect resulted in graphical artefacts requiring me to restart GNOME Shell for it to regain usability. Its possible that is down to the use of dual GPUs rather than the new shell, hopefully you can work that out better than I :)

Great bit of eyecandy, thanks for your efforts!

[2015-10-11 07:20] dffischer commented on #45
[It works flawless for me](https://github.com/dmo60/CoverflowAltTab/pull/46), on an Arch Linux with a single integrated Intel GPU.

[2015-10-17 15:03] lightonflux opened #47 "[Visual] Card stack transition"
In coverflow mode the windows are distorted because of perspective. For some applications this looks very weird. (e.g. video, photo editing with faces).

A third transition effect would be nice. One that is also symmetric like coverflow (unlike  timeline) and non-distorting.

What comes to mind is a stack of cards, similar to what Android 5 and 6 has. Vertically would be nice to see the applicatio

[2015-10-30 03:16] cig0 opened #49 "[ WISH ] Show windows from all workspaces"
Thanks for considering this.

[2015-10-30 22:49] p91paul commented on #49
This was proposed in pull requests #21 and #48. Me and @dm60 didn't like very much the behavior #21 obtained, but I haven't looked at #48 code yet. Can you try one or both proposals and share your thoughts about them? (i.e. does the implementation satisfy your needs?)

[2015-12-05 10:34] andreicristianpetcu commented on #20
It worked with dconf-editor. Thank you @coiby !

[2015-12-13 23:17] trusktr opened #50 "[idea] Support Gnome's workflow."
The coverflow effect is super nice looking, but the functionality itsn't like Gnome's alt-tab or alt-backtick. It'd be super nice to have that. For example, here's what it would need to do:

- [ ] Possible things the plugin can do when switching between applications (alt-tab in my case):*
  - Instead of moving separate windows, you could place windows of the same app
    together in space, then an

[2016-01-29 04:38] #43 closed

[2016-02-08 20:45] asdf23 opened #52 "Stops working after reboot"
The extension works great until i reboot. Then if I visit extensions.gnome it appears to be on but it behaves as off. If I toggle the switch it works again. I did not add a permenate trust to this website nor do I have a online gnome account (not sure if that is related).

[2016-02-08 21:41] p91paul commented on #52
Sounds like you have another alt-tab replacement extension installed and enabled; some distributions ship with AlternateTab installed by default, which conflicts with CoverflowAltTab, and when enabled triggers the behavior you are describing. Please check your installed extension list at https://extensions.gnome.org/local/ and disable the offending ones!

[2016-02-18 18:59] asdf23 commented on #52
That was the problem, thank you

[2016-02-18 18:59] #52 closed

[2016-03-02 09:56] luka-n commented on #19
This is still an issue making coverflow unusable on multiple monitors. Any plans to fix this?

[2016-04-03 20:28] kimamb commented on #47
+1 to the idea

also +1 to your youtube recommendations ;)

[2016-04-12 15:03] BoBeR182 opened #56 "Update for Gnome 3.20"
Please update the extension to be compatible with Gnome version 3.20

[2016-04-13 11:37] frol commented on #45
I confirm that it works on Arch Linux on my dual GPUs laptop (Intel HD4600 + Nvidia) with Gnome 3.18 and now 3.20 without any artifacts.

[2016-04-14 23:03] SalahAdDin commented on #45
But, this extension are outdated.

[2016-04-14 23:03] SalahAdDin commented on #56
https://github.com/dmo60/CoverflowAltTab/issues/45 Related.

[2016-04-15 06:28] p91paul commented on #45
I believe @frol means that no code changes are required to make it work; #55 confirms this (actually this issue should be closed since 3.18 support is in the master branch and for 3.20 #56 duplicates #55). You can modify metadata.json to add 3.20 (like #55 does) while @dm60 takes care of merging and uploading to extensions.gnome.org (where it needs to be reviewed as well)

[2016-04-15 06:30] p91paul commented on #56
Duplicates #55.

[2016-04-15 17:42] #56 closed

[2016-04-15 17:59] #45 closed

[2016-04-15 18:00] p91paul commented on #45
Extension is up to date on extensions.gnome.org now!

[2016-04-15 18:00] p91paul commented on #56
Extension is up to date on extensions.gnome.org now!

[2016-04-26 12:20] GLTR87 opened #57 "Update for Cinnamon 3.0"
CoverflowAltTab does not work in Cinnamon 3.0 (on Arch).

[2016-04-26 21:01] p91paul commented on #57
I tested on Cinnamon 3.0, and just adding 3.0 to metadata.json was enough. I see the extension does not support 2.6 and 2.8 though, I will test 2.8 on Debian. I updated the code in this repository; @dmo60 still owns the extension on cinnamon-spices, I have no experience uploading there.

[2016-04-26 21:01] #57 closed

[2016-04-26 21:03] p91paul commented on #57
I did need to enable "Always show the animation on the primary desktop" option though, without having a second monitor, which is odd.

[2016-04-28 20:32] p91paul commented on #36
This issue is quite old, sorry for the lack of support. Do you still have the problem?

[2016-04-28 20:32] p91paul commented on #34
You have any updates on this?

[2016-04-28 20:40] p91paul commented on #17
I'm not using gnome at work now, and my usage at home is not so intensive to trigger this bug. Is anybody still seeing it?

[2016-04-29 20:14] Kruno313 commented on #36
Hi
I have not used it since then, but installed again today on my Mint with cinnamon and it seams to work now. On activation, cinnamon said that the extension is not compatible with my cinnamon release, but I ignored it and it worked.
Thanks

[2016-04-29 20:14] #36 closed

[2016-04-30 16:31] GLTR87 commented on #57
Thanks, I've installed from github. It still does not work on my two Arch installations.
It does however work on Ubuntu 16.04 with Cinnamon 3.0 (embrosyn’s PPA).

[2016-04-30 16:46] p91paul commented on #57
What exactly does it happen? the extension can't be installed? Or it can't be added to cinnamon? Or it behaves badly when running? Do you see any error messages?

[2016-04-30 17:05] GLTR87 commented on #57
OK, I've figured out a few things, I guess I was confused.
1st : its the same in Arch and Ubuntu 16.04, I was wrong in my previous comment.
2nd : there are two ways to get the coverflow alt-tab
       -It looks like it has been integrated in Cinnamon 3.0, go to settings -> windows -> alt-tab
       -Install the extention
3rd : to use coverflow the extension way (allows to speed up the animations),

[2016-05-01 11:27] DoctorJellyface commented on #34
I haven't used this extension in ages, my eyes hurt from it, feel free to close this.

[2016-05-17 04:48] SethDusek opened #59 "Coverflow/Timeline horribly broken on multi monitor"
I was told to post this here

Hi, so I have a 1080p monitor on my left and a 1366x768p primary one, and coverflow/timeline are broken on a multi-monitor setup. Often times my screen "tears" in half while I alt tab. It's hard to explain so here is a video demonstrating it.

It doesn't happen with the normal icon + preview or any other icon + alt tab option, only with coverflow and timeline it happe

[2016-05-17 05:48] p91paul commented on #59
From your wording, it looks like to me you are not using the extension, but the builtin cinnamon alt-tab option. I have good news and bad news (mostly bad, sorry). Bad news is that although cinnamon made that option by integrating this extension's code, our codebases are now separate, not really in contact unfortunately. If you install this extension following directions for manual install in this

[2016-05-26 00:11] hyph3n opened #61 "CoverflowAltTab Disabled by Cinnamon"
Today I noticed my system (Fedora 23/Cinnamon) wasn't able to alt-tab at all. When I pressed the key combination, it simply cleared my desktop of active windows instead of animating through the window selection process as usual.

I tried to reload the CoverflowAltTab code (which was installed via spices--not directly from GitHub).

Following this, hitting alt-tab worked again, but it was just the

[2016-05-26 06:13] p91paul commented on #61
Version on cinnamon spices is quite outdated unfortunately. Could you please test the github version? I should look into getting ownership of the extension on cinnamon spices as well.

[2016-05-26 11:27] hyph3n commented on #61
Thanks for the reply, but I'm afraid the extension still doesn't seem to be working. Alt-tab clears my desktop of all active windows and slightly darkens my desktop background, but does not actually show me a list of windows. I performed the following steps:

1) Uninstalled cinnamon-spices version of the extension.
2) Cloned this repo.
3) Manually copied the folder "CoverflowAltTab@dmo60.de" to ~/

[2016-05-26 16:49] p91paul commented on #61
I should add this to the README, until a proper fix is issued. For whatever reason, on Cinnamon it only works if you enable the "Always show the animation on the primary desktop" extension option.
Please don't close this bug report (even if for you the workaround is ok), I will close if and when it is actually fixed.
Thanks for taking the time to report!

[2016-05-26 22:58] hyph3n commented on #61
Yep, that workaround fixed things for me. Thanks!

[2016-06-27 00:27] ljhui opened #63 "having to enable the extension again and again once start"
This is a good extension,but unluckily it works not well on my laptop Thinkpad T460p,my system is Fedora  24, the latest version.first I find this extension in  [extensions.gnome.org](https://extensions.gnome.org/extension/97/coverflow-alt-tab/), but it cannot be installed,while other extension can , so I have to install manually and enable it , but every time  I login in my laptop, it doesn't wor

[2016-06-27 19:14] p91paul commented on #63
Most likely you have a conflicting extension, like Alternate Alt-Tab. Please check the README (i.e. the extension homepage). At the bottom there is a troubleshooting section!

[2016-06-27 19:42] ljhui commented on #63
sorry ,I doesn't notice that. now  it's OK for me ,thanks!

[2016-06-28 06:19] p91paul commented on #63
Good!Glad to be helpful!

[2016-06-28 06:19] #63 closed

[2016-08-05 18:09] jorenheit opened #64 "Extension doesn't persist after logout"
When I log out of and back in to gnome 3, the extension is still enabled (set to "on") but the behavior has reset to the default Alt-Tab. I have to re-enable the extension to get it working again.

[2016-08-06 04:01] meghprkh opened #65 "Issues with Dash to dock"
I am facing issues with having coverflow enabled with the dash to dock extension and the dock appears after every Alt+Tab when in intelligent autohide "dodge windows" is enabled (allows the dock to appear when there is a minimized not-clashing-with-the-dock window). I dunno which extension has a bug so filing them in both repos.

[2016-08-13 15:56] p91paul commented on #64
You probably have Alternate Alt-Tab or some other conflicting extension installed. Please check the Troubleshooting section of the [repository homepage](https://github.com/dmo60/CoverflowAltTab#troubleshooting)!

[2016-08-13 15:56] #64 closed

[2016-08-15 11:43] meghprkh commented on #65
https://github.com/micheleg/dash-to-dock/issues/303#issuecomment-238099788

[2016-08-15 11:43] #65 closed

[2016-09-19 01:39] lachlan-00 opened #66 "3.21/3.22 non-fatal error"
looks like something has changed in the 3.22 dev cycle.

I get this error:
second argument to Lang.bind() must be a function, not undefined

The plugin still functions but displays an error in extensions.gnome.org, lg and tweak tool.
I don't know if there's a way to get the specific line that causes this error.

[2016-09-19 20:08] gevera opened #67 "Allow Alt+F4 to close selected app"
in Openbox and macOS its possible to close current selected app in Alt+Tab by Alt+F4. Please, add this feature. Thank you

[2016-09-21 05:59] p91paul commented on #67
In Coverflow Alt-Tab that is possible by pressing q while keeping alt down. I will investigate if adding F4 causes some issues!

[2016-09-22 20:39] p91paul commented on #66
Looks like the error happens while disabling the extension. I should have fixed it it the master branch, please test it out!

[2016-09-23 08:28] lachlan-00 commented on #66
I'm away from a pc till next week but I'll let you know asap

[2016-10-16 09:11] p91paul commented on #67
Feature added and released to extensions.gnome.org (it'll take some days to be accepted though)

[2016-10-16 09:11] #67 closed

[2017-04-18 17:20] biji opened #68 "animate wait time"
Please add option to not animate at all, when we alt tab quickly (for example: animate wait time: 1s)

thanks

[2017-04-19 04:57] 4nd1m4n commented on #19
I would like to add a problem/request: Is it possible to give an option to show the window switcher "copied" on all monitors currently used? Meaning that when i look at my secondary monitor i also want to see where i switch there and don't want to have to look back to my primary screen. I'm fairly certain, that the "normal" switcher showed the switching/choosing of the new window in focus on all s

[2017-04-20 20:32] M4GNV5 commented on #13
this is very old, but i would still love to see this. Or is what i want already possible with the current version?

I would prefer to be able to use alt+tab for the regular old behaviour and super+tab for the fancy animated switching. Dont get me wrong, your animations are great and especially cool looking, but sometimes when being productive they might be distracting/slow/inefficient. Also this i

[2017-05-23 07:54] effective-light opened #69 "No license."
There doesn't seem to be any clear license associated with this extension.

[2017-05-24 12:59] ghost opened #70 "(some) fullscreen windows in gnome-shell and wayland do not work as expected."
some fullscreen windows do not get placed correctly in wayland after alt+tab in and out.

1. Start gnome on wayland.
2. Start xonotic-sdl (just as an example)
3. On the main menu press alt+tab to tab out...
4. Press alt+tab again to tab in
See that the window is misplaced.

if you now:
1. press windows key...
2. select a different window
3. press windows key again
4. select xonotic window
window s

[2017-06-10 07:51] p91paul commented on #69
You're right. I will try to reach other contributors to understand what their desire is. Given terms of extensions.gnome.org I think the best option is GPLv2 or later versions, but the amount of code owned by me here is negligible.

[2017-06-10 09:12] p91paul commented on #69
@ge0rgecz I was unable to find your email anywhere; please contact me to be added to the conversation.

[2017-06-10 09:49] p91paul commented on #68
I very much think there is already; the animation appears only if you keep alt pressed for more than 150ms (which is long enough I think, a quick alt-tab is way faster). Which gnome-shell/cinnamon version are you on?

[2017-06-11 08:02] Palatis commented on #69
I'm Victor Tseng (Palatis), I'd prefer the license stays GPLv3 as stated from my oldest repository
https://code.google.com/archive/p/gnome-shell-extensions-coverflowalttab/

however, I'm not paranoidly enforcing this, whatever FOSS license will be fine, as discussed in the email thread.

I published the source code in the hope that it will be useful, and the code has diverged a-lot since 2011.
The

[2017-06-11 14:44] biji commented on #68
well 150ms is just too fast for my hand :D
i'm using 3.22 (fedora 25)

thanks

[2017-06-11 14:47] DreaminginCodeZH commented on #68
Don't think 150ms is short for a single key combo - making it too ling will render the switching lagging.

[2017-07-01 15:44] p91paul commented on #69
GPLv3 has been applied!

[2017-07-01 15:44] #69 closed

[2017-07-20 16:48] mehranagh20 opened #72 "Drag and drop is not possible between tabs!"
Unlike default alt-tab behavior that drag and drop things between tabs is possible, with CoverflowAltTab it does not work.

[2017-07-28 22:28] aryasenna opened #73 "Doesn't work on fedora 26 / Gnome 3.24"
It was working fine on Fedora 24/Gnome 3.22, how do I debug this?
Reloading the extension and restarting Gnome shell doesn't have any effect. Only default alt-tab is shown.

[2017-07-29 15:40] p91paul commented on #73
This is quite strange, I'm using this extension on gs 3.24 on Arch Linux. Do you possibly have other extensions installed, perhaps Alternate Alt-Tab which sometimes gets installed by distributions?

If this is not the case, please collect the output from `journalctl -f` while you enable/disable the extension. Did you install from e.g.o or manually from this repository?

[2017-07-29 16:26] aryasenna commented on #73
Uh, so I booted my Fedora install intending to get journalctl, and the extensions now works.😅

Closing the issue as I can't reproduce it. Thanks Paul for chiming in.

[2017-07-29 16:26] #73 closed

[2017-08-03 06:54] ge0rgecz commented on #69
p91paul ... https://github.com/ge0rgecz (my email is now being published here)

[2017-08-07 21:13] p91paul commented on #69
Meanwhile, we reached an agreement on GPL v3...are you ok with that license for your contribution?

[2017-08-07 21:25] Palatis commented on #69
actually GPL3 is my first choice :-)

and I understand a very big portion of the codes are rewritten by you
awesome guys, I think I will give respect to all contributors.

seemed like GPL3 is acceptable for everyone, lets just go for it!

Paolo Inaudi <notifications@github.com> 於 2017年8月8日 週二 05:13 寫道：

--

Victor Tseng

[2017-08-08 06:27] p91paul commented on #69
My message was for @ge0rgecz that was missing on our email conversation but it's still a contributor, so I'd like his approval for the code he contributed.

[2017-08-08 07:00] Palatis commented on #69
ohh alrite

Paolo Inaudi <notifications@github.com> 於 2017年8月8日 週二 14:27 寫道：

--

Victor Tseng

[2017-08-08 07:41] ge0rgecz commented on #69
Yes p91paul. I have no problem with GPL v3.

[2017-08-19 10:33] Warmuser opened #74 "Sometimes conflicts with Dash to Panel"
Hello, the extension sometimes conflict with Coverflow alt-tab: when I enable/disable these extension the panel becomes messy, the favourites disappear and the desktop seems to the point to freeze. I will report these issue also to the extension developer.

PS: I'm on Manjaro 17.0.2 GNOME 3.24.2

[2017-08-23 14:58] doncullen commented on #68
Need to keep in mind that there's people who don't have ability to maneuver their hands quickly, such as the disabled, the elderly, and so on.  While I don't have this experience, I can definitely see the need for an option to be provided so users can tweak it to their preference.

[2017-08-23 15:11] doncullen commented on #23
As tinypic only uses Flash to show videos -- Chrome no longer displays those -- tinypic isn't the best site to use at the moment.  Since I can't see the videos, I'm going to just guess at what was referenced.

The default behavior is for it to keep switching to the last window while tab is pressed repeatedly as alt is held.  Once the last window is reached, it then goes back to the first window.

[2017-09-02 09:52] p91paul commented on #74
I was unable to reproduce your issues. How exactly do you trigger this? I've enabled/disabled them several times, alt-tabbed with both enabled and I didn't experience issues!

[2017-09-03 08:52] Warmuser commented on #74
@p91paul I understand. I will try to reproduce the issue and I will made a video. :)

[2017-12-31 03:18] gesangtome opened #76 "The Po file was translated, but the reinstallation did not seem to work, and the expected effect did not appear"
About this commit: https://github.com/dmo60/CoverflowAltTab/pull/75, It seems to be invalid. How can I change it?

[2017-12-31 03:55] #76 closed

[2018-02-06 16:22] joncamfield commented on #49
I love the current options, but would like the ability to use different hot-key combos to access them (e..g Alt+Tab for current workspace windows, Win+Tab for all workspaces, Alt+Win+Tab for all, current first, but obviously should be user-configurable).

[2018-03-01 20:32] p91paul commented on #49
This was solved in #58. @joncamfield you are right, you are requesting #13; in the meantime, look at https://github.com/dmo60/CoverflowAltTab#customization to change keybindings through system settings.

[2018-03-01 20:32] #49 closed

[2018-03-01 20:33] p91paul commented on #66
Closing old issue.

[2018-03-01 20:33] #66 closed

[2018-04-23 22:11] Marathon2112 opened #78 "Tiled Windows Behaviour"
The default behaviour in Gnome since—correct me if I'm wrong—3.26 is to keep windows that are tiled side by side together when alt-tabbing. This is a very practical implementation; however, the behaviour is broken by this extension. When using CoverflowAltTab, tiled windows are cycled individually instead of being considered as a group.

[2018-04-24 01:45] DreaminginCodeZH commented on #78
I'd vote for the current behavior instead of grouping them, because many times I have multiple (>= 3) half-screen windows and switch between them, and that grouping behavior was driving my crazy.

[2018-04-24 01:51] Marathon2112 commented on #78
I understand this might not be everyone's cup of tea, but could we a least have an option in the settings to keep this feature enabled?

[2018-04-24 05:33] p91paul commented on #78
I believe this could be a nice addition as an optional behavior, but at the same time it is not easy to implementation. I'd be happy to merge a pull request, but it's not likely I'll implement it myself.

[2018-05-06 11:24] JoeKays opened #79 "Scrolling does sometimes cycle in the wrong direction"
Sometimes, when scrolling down, which should switch to the window right of the active one, it switches to the left one instead. Further scrolling then switches back to the right again and continues switching right.

Is this a bug or intended behaviour?
I am using multimonitor with 2 identical screens

[2018-05-20 09:51] MatteCarra opened #80 "Per-monitor tab switching"
It would be great to be able to switch applications only on the current active monitor.
Is there already a way to do it?
Thanks in advance

[2018-06-05 04:22] liangjiongyao opened #81 "CentOS7.5 can't work with this CoverflowAltTab"
i have already installed it on the https://extensions.gnome.org/extension/97/coverflow-alt-tab/ ,also restarted gnome-shell,but when i press Alt+Tab,nothing happen

[2018-06-05 10:44] ucasFL opened #82 "Cann't auto start when restart System"
Every time when restart system, it also need off and on once, otherwise, it's cann't work.

Platform: Ubuntu 18.04
Gnome: 3.28

[2018-06-05 18:56] p91paul commented on #80
Hi, there is https://github.com/dmo60/CoverflowAltTab/pull/53 to address this. Are you able to test it to check if it works properly? I never found the time to review that pull request.

[2018-06-05 19:07] p91paul commented on #81
It should work. Do you see any errors in journalctl? Did you try manual install as described in https://github.com/dmo60/CoverflowAltTab#installation?

[2018-06-05 19:09] p91paul commented on #82
Looks like a conflicting extension. Please read this: https://github.com/dmo60/CoverflowAltTab#troubleshooting

[2018-06-06 01:37] liangjiongyao commented on #81
![2018-06-06_09-28](https://user-images.githubusercontent.com/30697104/41010765-17c17736-696c-11e8-93c7-df1a44f97332.png)
[root@localhost ~]# ls /root/.local/share/gnome-shell/extensions/CoverflowAltTab@dmo60.de/
config.js             keybinder.js  metadata.json  settings-schema.json
CoverflowAltTab.pot   lib.js        platform.js    switcher.js
coverflowSwitcher.js  locale        prefs.js       t

[2018-06-07 13:57] MatteCarra commented on #80
I've just tried it and it works. If I find any bug I will report it.

[2018-06-07 13:59] MatteCarra commented on #80
The only negative thing is that the active monitor is the one where the mouse is, but @pospeselr designed it like so.

[2018-06-07 14:17] p91paul commented on #80
what should be considered active instead? where the mouse is seems pretty reasonable to me!

[2018-06-08 01:28] liangjiongyao commented on #81
![2018-06-08_09-20](https://user-images.githubusercontent.com/30697104/41134295-4076871e-6afe-11e8-9867-51fc116d14dc.png)

[2018-06-08 05:36] p91paul commented on #81
Sorry but I still have no clue, good ol' "it works on my machine" applies here.

Please try this:
Disable all extensions (switching them off through the preference page in your screenshot should be enough)
Start journalctl -f
Restart gnome shell
Post the journalctl output

I know you already said the logs don't have errors, but let's try anyway...

[2018-06-08 19:49] MatteCarra commented on #80
I think that current approach is very good after all.
Anyway I think that the active monitor is the one with the active window in it, where text is inserted when you type or where alt-f4 and other commands have effects, despite the position of the cursor.

[2018-06-11 11:14] liangjiongyao commented on #81
it works,nothing need to do,just press ALT first then press TAB,i used to  press them at the smae time.

[2018-06-11 21:50] p91paul commented on #81
Ok good then! Have a good time alt-tabbing!

[2018-06-11 21:51] #81 closed

[2018-07-07 11:01] xzj8b3 opened #83 "But for Gnome-Shell 3.28.2????"
But for Gnome-Shell 3.28.2???? It is one of the most comfortable extensions, but because it is updated so little????

[2018-08-10 09:03] p91paul commented on #83
The extension works for me on 3.28. Now I've also pushed an update on extensions.gnome.org.
Thanks for bug report!

Why it is updated so little? Because my daily job is taking all my time and energy. Does someone want to step up and help me?

[2018-08-10 09:03] #83 closed

[2018-08-10 22:37] fabiscafe opened #84 "Icon/Text overlapping on HighDPI"
When I choose the HighDPI mode of gnome (On wayland, not tested with X11) the icon overlapps the text in the bottom of the coverflow animation. This dont happens on "normal DPI mode"
![bildschirmfoto-20180811003004-3840x2160](https://user-images.githubusercontent.com/18744080/43984070-7f4eebe8-9cfe-11e8-8165-c5f182630dfb.jpg)

[2018-08-11 22:07] p91paul commented on #84
mmm...I don't have an HighDPI screen, I'll need help on this one!

[2018-08-17 10:57] Tids commented on #84
I think its possible to trigger this by just enabling 200% Scaling in the gnome settings. Otherwise I'll help if you can tell me how to do so :)

[2018-09-09 10:09] leixet opened #86 "Not working on Gnome 3.30"
The extension stopped working. I have to disable it to recover alt+tab functionality.

It's compatible with Gnome 3.30 or that's my problem? Thanks.

[2018-09-13 16:45] p91paul commented on #86
@demokritos and all on this thread: please try branch gnome-shell-3.30. It originates from pull request #85 with changes to make it backwards compatible with 3.28.

I don't have a 3.30 available yet, so I'm unable to test it properly. It likely worked when @demokritos proposed it, but I might have broken it with my changes.

[2018-09-14 02:42] demokritos commented on #86
@p91paul, I tried gnome-shell-3.30 branch. It works well on gnome-shell 3.30. Thanks.

[2018-09-17 17:34] leixet commented on #86
@p91paul Thanks! it worked!

[2018-09-17 18:14] aronpc commented on #86
Thanks!

[2018-09-18 04:50] johnnyg commented on #86
Can also confirm branch gnome-3.30 works fine on gnome 3.30 (which has been rolled out to Archlinux)

[2018-09-30 08:04] psykotik1 commented on #86
cant use timeline mode in gnome 3.30 arch linux

[2018-10-01 09:41] psykotik1 opened #88 "timeline mode does not work"

[2018-10-13 14:49] p91paul commented on #86
@psykotik1 fixed in master.
@pablodav I wasn't aware animations can be disabled. However I think this extension shouldn't work with animation disabled!

[2018-10-13 14:49] #86 closed

[2018-10-13 14:49] #88 closed

[2018-10-15 20:17] ghost opened #90 "Makes GNOME 3.30 crash"
Hi, It stays frozen when you do Alt+tab for second time, I use Arch Linux, anyone else is having issues with this?

[2018-10-16 05:11] p91paul commented on #90
I don't have this issue on arch with 3.30! Can you post logs from journalctl captured during your second alt-tab?

[2018-10-16 16:53] D4v2z commented on #90
Yes

![captura de pantalla de 2018-10-16 18-51-49](https://user-images.githubusercontent.com/26611092/47033267-a89be280-d174-11e8-83d8-1cb04a5ac745.png)

[2018-10-16 19:27] Tulainas commented on #90
For me it just does nothing at all... I've had to turn it off. I'm also or Arch and Gnome 3.30.1. Is there something I can help to?

[2018-10-18 20:08] krassowski commented on #90
I am getting (apparently) random crashes on Ubuntu 18.10 (just after upgrade) which uses (mostly) Gnome 3.30 - the Gnome session crashes just after switching to another window. After disabling the add-on the crashes stopped. I will try to get `journalctl` logs tomorrow.

[2018-10-18 20:15] DreaminginCodeZH commented on #90
+1, Also met random crashes on Arch Linux with GNOME 3.30 and extension enabled.

[2018-10-19 06:32] p91paul commented on #90
cool, random crashes are the best :pensive: waiting to see your logs, at the moment this never happened to me.

[2018-10-19 06:34] p91paul commented on #90
however, IDK if random crashes and frozen gnome-shell reported by OP are for the same reason.... possibly those are 2 separate issues.

[2018-10-19 12:57] D4v2z commented on #90
I think it's the same problem, I'll describe it better. you are using some programs and suddenly it freezes and all the programs are put at the same time, crashed a few seconds and returns to normal, once or twice it returns to me at the beginning of the session ... it also happens to me with Fedora 29 GNOME 3.30
Fedora 29
![captura de pantalla de 2018-10-19 12-52-11](https://user-images.githubuse

[2018-10-19 14:16] krassowski commented on #90
Here are some excerpts from my logs, please let me know if any of these are helpful or if I should I provide more (crash occureed about 14:59/15.00):
[code]

[code]

[code]

[code]

[2018-10-20 12:33] p91paul commented on #90
I pushed fixes to master for all the errors I could find in your logs. Could you test with manual installation?

[2018-10-21 18:04] krassowski commented on #90
Thank you for such a prompt response! I had the version from the master running for about 6 hours without any problems - this counts as an enormous improvement, for sure. The errors are not showing in the journal anymore.

I've got one crash, just now, about two minutes after logging-in after waking my laptop from a suspended state (the crash coincided with switching of windows with alt+tab). Howe

[2018-10-21 18:05] krassowski commented on #90
Actually I've just grepped one CoverflowAltTab error (deep in the logs):

[code]

[2018-10-21 21:33] D4v2z commented on #90
No, I continue with the same problem, sorry for log so long and thanks for you time

oct 21 23:28:00 zero gnome-shell[21347]: Ignoring length property that isn't a number at line 732, col 24
oct 21 23:28:00 zero gnome-shell[21347]: Ignoring length property that isn't a number at line 732, col 24
oct 21 23:28:00 zero gnome-shell[21347]: Ignoring length property that isn't a number at line 732, col

[2018-10-21 22:46] krassowski commented on #90
I got two more crashes, both of them happened just after switching windows :(

[2018-10-22 05:28] p91paul commented on #90
this is getting difficult...from your logs I got an hint: are you on Wayland? I'm on xorg, this might be why I can't reproduce

[2018-10-22 07:08] krassowski commented on #90
Yes, I am on Wayland.

[2018-10-22 17:20] D4v2z commented on #90
I'm on Xorg but I've tried and happens the same

[2018-10-22 21:11] p91paul commented on #90
I just reproduced...however there was nothing on the journal apart from the coredump.
I believe the bug should be reported upstream to gnome-shell, but I think that without a stacktrace with debug info they won't be able to understand a thing...while it's possible that this extension is doing something fishy and causing gs to die, I'm unable to determine what is wrong!

[2018-10-29 10:20] davidhu3141 opened #91 "Cannot detect Alt+Tab in Gnome 3.18"
Nothing showed after pressing Alt+Tab in Gnome 3.18. I checked `/var/log/syslog` and found these two lines appeared after pressing Alt-Tab:

`Gjs-WARNING **: JS ERROR: TypeError: binding is null`
`Manager.prototype._startWindowSwitcher@/home/.../.local/share/gnome-shell/extensions/CoverflowAltTab@palatis.blogspot.com/manager.js:99`

It seems that a wrong `keybinder` object is used. The problem is

[2018-10-29 14:41] colben commented on #90
I also have random crashes in archlinux with gnome 3.30, here is my issue: https://www.oschina.net/question/2298475_2288584, when on wayland, gnome just suddently crashed and return to gdm; when on xorg, gnome restarted several times and then return to gdm.

[2018-10-29 16:01] texjoachim commented on #90
Same here with Gnome 3.30 on openSUSE Tumbleweed.

[2018-11-05 21:22] p91paul commented on #91
Gnome shell versions older than 3.26 are now to be supported in branch gnome-shell-3.26. I've unrelased version 34 on extensions.gnome.org, which means that 3.28+ users will download the latest version while older will now download version 33 (the latest known working). Please uninstall and reinstall the extension from extensions.gnome.org!

[2018-11-05 21:22] #91 closed

[2018-11-06 06:11] rudrab commented on #90
my journalctl:

[code]
I am almost sure there is some problem with this (and few more) extension in Wayland.

[2018-11-07 06:35] p91paul commented on #90
those undefined references should be fixed in latest master. However they aren't helpful unfortunately...

[2018-11-08 11:32] rudrab commented on #90
p91paul: One confusion:
In ReadMe, we have:

But gnome extensions put `CoverflowAltTab@palatis.blogspot.com` .

Which is correct?

[2018-11-08 13:22] p91paul commented on #90
well, in a way both :) palatis was the original developer and on e.g.o. the extension id cannot be changed. dmo60 is the owner of this repository who took over palatis extension before handing it to me. Long story short, remove the one from the website if you want to install it manually, and vice-versa.

[2018-11-09 14:58] wotmshuaisi opened #92 "GNOME 3.30.2 crashed because of CoverflowAltTab"
fedora 29

`journalctl -xe`

[code]

[2018-11-10 11:06] p91paul commented on #92
duplicate of #90

[2018-11-10 11:06] #92 closed

[2018-11-12 23:46] johnnyg commented on #90
I've also been getting this for the last couple of weeks on Arch Linux with Gnome-Shell 3.30.2 (Wayland). Has anybody reported it upstream yet?

[2018-11-15 20:40] PhilippeMA commented on #90
Hello,

First of all, thank you for this amazing extension.

I have the same bug on Fedora 29, Gnome 3.30.2 (Xorg)

https://bugzilla.redhat.com/show_bug.cgi?id=1650321

[2018-11-19 11:48] mikkopori commented on #90
I'm also experiencing this since upgrade to Ubuntu 18.10 from 18.04. Gnome Shell 3.30.1.

Sometimes it recovers and allows Ubuntu to send error reports, sometimes it crashes totally and logs me out of the session.

[2018-11-19 15:08] p91paul commented on #90
@mikkopori you said that sometimes it does report the bug: do you have a reference for a bug report in ubuntu bug tracker to post here?

[2018-11-20 08:16] mikkopori commented on #90
The report was automatically sent, do not know how to find that, sorry..

But I can share logs to you if tell me which ones?

[2018-11-23 22:02] Heterodyne opened #93 "Extension is not compatible with current Cinnamon version (Cinnamon 4.0.2)"
What do I need to add in extension.js for 4.0.2 ?

[2018-11-23 22:48] p91paul commented on #93
mmm modifying metadata.json is not enough? journalctl reports some errors?
Possibly changes to support gs 3.30 broke it for cinnamon...

[2018-11-26 07:48] kamilizmer commented on #90
I have the same problem. Random crashes with logout of the user from session. I observed it happens when ALT+TAB is using with fast changes. Fast changes of the windows are killing gnome-shell through CoverflowAltTab. When it will happen I will send you my log, if it will be existed.
PS: I'm sorry about my bad English.

[2018-11-26 10:10] rmeissn commented on #90
I got the same problem if this shell extension is activated. I'm using Fedora 29 and Gnome Shell 3.30.2 (on Wayland).
When Gnome Shell crashes it sometimes manages to recover itself. Sometimes it crashes and presents the GDM Login dialog again. At least on Wayland, the Fedora error reporting system won't record anything. On XOrg, it records an error with Gnome Shell randomly (so not every time it

[2018-11-26 10:33] mikkopori commented on #90
I have the same: fast changes to windows launch the problem.

[2018-12-08 11:53] D4v2z commented on #90
The issues seems to have been solved "only", it would be something related to GNOME.
Fedora 29

[2018-12-10 11:18] mikkopori commented on #90
Tried to enable again and it is still crashing..

[2019-01-05 20:42] Heterodyne commented on #93
No....
                                                    <----------------
                                                    logError@/usr/share/cinnamon/js/ui/extension.js:134:17
                                                    prepareExtensionUnload@/usr/share/cinnamon/js/ui/extensionSystem.js:37:9
                                                    unloadExtension@/usr/share/cinnamon/js/

[2019-02-20 20:20] boris-gu opened #94 "Сompatibility with the extension "Blyr""
I use the extension ["blyr",](https://github.com/yozoon/gnome-shell-extension-blyr) but it does not cope with blurring in CoverflowAltTab.
I do not know how this all works, but is it possible to do something about it?
![111](https://user-images.githubusercontent.com/44787162/53121446-583ef200-3565-11e9-9e75-14e519f46f70.png)
"normal behavior" vs "in CoverflowAltTab"

[2019-03-16 23:09] p91paul commented on #94
have you tried to contact the blyr maintainers? it's unlikely Coverflow can do something, it's up to them to blur things I suppose!

[2019-03-16 23:11] p91paul opened #95 "Needs a new maintainer"
Gnome 3.32 introduces breaking changes...again. I'm truly sorry, but I'm unable to properly maintain this extension now. If anyone wants to step up, please contact me. You can get my email from the commit history.

[2019-03-18 18:54] kirbyfan64 commented on #95
I might take a look at this while I'm trying to port some of the other extensions to use; this one doesn't even seem to really use Lang.Class, which makes it a lot easier.

[2019-04-20 10:22] WhiteHusky opened #96 "Quickly scrubbing does not register all presses"
With the default Gnome app switcher I could quickly tab through all my applications as fast as my hand would let me, however Coverflow discards keypresses while it's animating to the next window.

It should keep track of presses and speed up the animation to catch up so 10 quick button presses will result in the 10th window regardless.

[2019-04-24 23:58] PJSingh5000 opened #97 "JS WARNING reference to undefined property "legacyTray""
I see the following error in my logs:
`JS WARNING: [/usr/share/gnome-shell/extensions/CoverflowAltTab@palatis.blogspot.com/switcher.js 530]: reference to undefined property "legacyTray"`

This error is accompanied by the message message:
`Ignoring excess values in shadow definition`

GNOME Shell 3.32.0
Ubuntu 19.04

[2019-04-30 18:16] p91paul commented on #97
This should be fixed in latest master, I just published a new release to e.g.o.
I should probably also advertise 3.32 support as I see no issues right now.

[2019-04-30 18:16] #97 closed

[2019-04-30 18:19] p91paul commented on #95
I'm on 3.32 and I don't see any issues, so it probably works...apparently this extension was one of the few spared by the 3.32 ES6 switch. Leaving this issue opened as the main problem (me lacking the time to be a proper maintainer) stands.

[2019-05-03 21:48] dffischer commented on #95
I tested the extension under gnome-shell 3.32 on Arch Linux and propose a [pull request to declare compatibility](https://github.com/dmo60/CoverflowAltTab/pull/98).

[2019-05-03 23:16] lkc0987 commented on #25
I ran into this the other day (Ubuntu 18.10 + Gnome 3.30.1) and made a small change to the code. (basically added a conditional check to see if get_meta_windowis a function)

`for (let i in windowActors)`
`   if (typeof windowActors[i].get_meta_window === 'function')`
`       windows.push(windowActors[i].get_meta_window());`

[2019-05-06 20:07] #25 closed

[2019-05-06 20:08] p91paul commented on #25
Thanks for your patch! Could you try installing from master to test the fix?

[2019-05-06 22:18] lkc0987 commented on #25
verified works - master branch.

[2019-06-13 10:17] DefUs3r opened #99 "Extension not working on GNOME 3.28.2"
Extension is not working on GNOME version 3.28.2. I have done a clean installation through the gnome shell extension webpage through chrome. After pressing `Alt + Tab` keys, there is no response. The extension AlternateTab is also disabled.

P.S.
1)If any log files are required to debug or better understand the issue, or some command has to be run, please mention.
2) I have tried installing extens

[2019-06-13 18:40] p91paul commented on #99
Hi, please run journalctl -f. While that command is running, restart gnome-shell (alt+f2, then r, then enter), and try using alt-tab.

While you do that, journalctl will continue collecting logs for you. Please post them here afterwards.

[2019-07-26 11:19] mcoyle1960 opened #102 "Problem quiting all apps while in CoverflowAltTab."
With CoverflowAltTab active, quitting all apps does not exit the extension. In fact, there is no way to exit and you're stuck with an empty CoverflowAltTab screen. The only workaround I've found is relaunch the DE. (Gnome 3.32.1)

Thanks for all the work.

[2019-07-27 10:33] p91paul commented on #102
I've tried to reproduce but I failed.
I opened a few windows, triggered alt-tab, then closed everything with 'q'. The animation just went away leaving me to the desktop as I expected.

Can you provide exactly how you trigger this error? Please also collect logs from journalctl.

[2019-07-27 12:31] mcoyle1960 commented on #102
I'm sorry, It's no longer doing it. I'll keep an eye on the situation and if I can reliably reproduce it, I'll come back and update you.  Love the extension. Thanks for the hard work.

[2019-07-27 12:31] #102 closed

[2019-07-27 22:04] p91paul commented on #102
No problem, let's hope it doesn't happen again!

[2019-08-23 18:44] ssayebee opened #103 "afterimages in ubuntu 18.04"
[code]

When using coverflowAltTab, I sometimes encounter the following problem:

![스크린샷, 2019-08-24 03-17-40](https://user-images.githubusercontent.com/51493975/63615545-986c5380-c620-11e9-8b81-83ffb9983f67.png)

When you switch tabs, you won't be able to switch to that tab, and you'll still have afterimages.

It is not clear whether the symptom is a ubuntu problem or a CoverflowAltTab problem.

[2019-09-10 09:01] aerfanr opened #104 "I want to use switch system controls key"
Is there any way to tell coverflow alt-tab to don't use this keybinding? I need it. Some times there is no mouse.

[2019-09-13 17:41] p91paul commented on #104
Which keybinding is this? "system controls" doesn't ring a bell, sorry.

You can try tinkering with the file keybinder.js, from line 61; just comment out (adding // in front of it) the various "Main.wm.setCustomKeybindingHandler", one at a time, until you find the one you want. After each modification you need reload gnome-shell for it to make effect.

[2019-09-20 00:47] Bruce-YC opened #106 "Extension not working on GNOME 3.34.0"
It was working perfectly but seems broken with the latest release of 3.34.0

[2019-09-20 05:26] p91paul commented on #106
could you collect journalctl output during a gnome-shell restart?

[2019-09-20 13:15] Bruce-YC commented on #106
Sep 20 09:02:27 hostname gnome-shell[22302]: Window manager warning: META_CURRENT_TIME used to choose focus window; focus window may not be correct.
Sep 20 09:02:27 hostname gnome-shell[22302]: JS ERROR: TypeError: actor.get_meta_window(...) is null
                                                  _destroyWindowDone@resource:///org/gnome/shell/ui/windowManager.js:1772:26

[2019-09-20 15:02] Zappo-II commented on #106
When I `<alt>-<tab>` I get

[code]

[2019-09-20 16:23] Zappo-II commented on #106
As far as I can see, and that might not be as far as you can, it breaks down to `_createPreviews:`'s use of `texture.get_size();` and `let clone = new Clutter.Clone({` ... `});` which seem to have somehow changed...

I'm neither a hero in GnomeShellExtensions nor Gnome API connoisseur but if I hack `width` and `height` to be hard coded and cut all Parameters from the `Clutter.Clone` call, the plug

[2019-09-20 17:38] rudrab commented on #106
I can confirm this is broken in fedora 31 beta (raised the issue in gnome extension website).
But unlike @Zappo-II's,  for me, I get switched, but don't show anything.

[2019-09-20 18:13] p91paul commented on #106
yeah, they probably removed get_size method from texture.

Thanks, this is quite helpful in locating the issue, and it might be easy to solve; however I don't have much free time ATM so I'm unable to tell when I will look into it. If anyone is capable to do so, I'll very gladly accept pull requests.

[2019-09-20 18:15] p91paul commented on #99
closing for lack of activity on this issue. If this is still a problem, please reopen!

[2019-09-20 18:15] #99 closed

[2019-09-20 21:58] Zappo-II commented on #106
#107 fixes this issue for me... thx @alex4401

[2019-09-21 05:34] rudrab commented on #106
alas...this does not solve the problem in fedora 31

[2019-09-21 07:51] alex4401 commented on #106
@rudrab Could you please post the journal log of gnome-shell?

[2019-09-21 08:47] alex4401 commented on #106
Okay, I see it was a stupid oversight. Please check whether it works now.

[2019-09-21 15:44] rudrab commented on #106
@alex4401 : that didn't solve my problem. Now, there is a normal app switching behavior, because, as soon an I enable coverartflow either from tweak tool or from website, it is getting off.
Here is my journalctl -b
Sep 21 21:10:09 localhost.localdomain wpa_supplicant[1007]: wlp2s0: CTRL-EVENT-SIGNAL-CHANGE above=1 signal=-66 noise=9999 txrate=115600
Sep 21 21:10:21 localhost.localdomain gnome-sess

[2019-09-21 17:32] rudrab commented on #106
Sorry, please ignore the earlier message. It is working now (in wayland)

[2019-09-21 18:20] Bruce-YC commented on #106
The fix also works for me in Arch.

[2019-09-21 18:20] #106 closed

[2019-09-21 18:27] Bruce-YC commented on #106
@rudrab @Zappo-II after applying the fix, the gnome search bar no longer works (nothing shows up if I search anything). Does this happen to you?

[2019-09-21 20:23] alex4401 commented on #106
@Bruce-YC I am experiencing the same problem but it also occurs for me without this extension.

[2019-09-22 08:48] rudrab commented on #106
@alex4401 , @Bruce-YC I have not faced that problem, but my screen is not coming up after suspended state (i.e. when I open the lid, lock screen is there, can't get the login screen)

[2019-09-22 10:01] Zappo-II commented on #106
...nope, `<super> <typeanythingtosearchfor>` works as expected for me...

Have Intel Graphics, not using Wayland...

Works again as expected...even after lock, hibernate, hybrid-sleep, etc...

[2019-09-22 17:57] Bruce-YC commented on #106
@alex4401

The fix works on wayland! Thanks a lot.

[2019-09-24 04:00] rudrab commented on #106
Yes, now everything works as expected.
Thanks a lot

[2019-09-24 09:22] terencode commented on #106
There are still some problems shown in the log:
[code]
and
[code]

[2019-09-24 13:30] Bruce-YC commented on #106
@terencode That is probably due to my other extension DashToPanel.

[2019-09-24 20:58] terencode commented on #106
@Bruce-YC I don't have it installed.

[2019-09-25 06:05] rudrab commented on #106
@terencode I am not a master of gnome extensions and js, but isn't it showing error for dash-to-dock(not DashToPanel)?
I faced problem with DashToDock with gnome 3.34, and that is my usual suspect.

But please ignore if I am wrong.

[2019-09-25 08:47] terencode commented on #106
@rudrab Thanks, the second warning disappear if I disable dash-to-dock but the first one is still there.
Also it will sometimes spam a lot of
[code]

[2019-09-25 14:32] JayBeeDe commented on #19
Hi,
I have a similar issue on CentOS 7 with gnome 3 and the following configuration:
- extended desktop with 2 monitors
- 2 identical monitors (2x 1920x1080pixels, monitors are horizontally aligned => 3840x1080 pixels)
- **top bar and window bar only on the primary monitor (left monitor)**
- Coverflow alt-tab ativated and configured as follow :
![Screenshot from 2019-09-25 16-24-06](https://user-i

[2019-09-25 17:07] p91paul commented on #106
@terencode, if the extension works and it only shows some warnings, please open a new issue!

[2019-09-25 17:13] p91paul commented on #19
@jaybeede your issue looks different, did you try with coverflow alt tab disabled? if it happens only when coverflow is enabled please open a new issue

[2019-09-25 18:00] terencode opened #108 "Some javascript problems on gnome-shell 3.34"
The following always shows:
[code]

The following is when DashToDock is installed but only with coverflow alt-tab enabled as well:
[code]

And finally these are spammed and seem  to trigger after cycling between the windows:
[code]

[2019-09-25 18:00] terencode commented on #106
@p91paul Done: https://github.com/dmo60/CoverflowAltTab/issues/108.

[2019-09-25 19:35] alex4401 commented on #108
Surprisingly, I can't seem to be able to reproduce the .actor deprecation notices, but I'm getting lots of out of range values while switching - was this a case before?

[code]

Back to the topic though, could you please check whether a5941bd on my [g3.34-actor-deprecation](https://github.com/alex4401/CoverflowAltTab/tree/g3.34-actor-deprecation) branch silences the deprecation notices?

[2019-09-25 19:58] alex4401 commented on #108
Possibly useful:
[code]
The signals are always `destroy` but they happen on StBin, StLabel and ClutterClones.

[2019-09-25 20:02] terencode commented on #108
Yes even before 3.34 from what I remember.

It does but it produces/didn't fix those:
[code]

[2019-09-25 20:06] alex4401 commented on #108
Interesting. I don't have these on my local machine with a5941bd. After a brief look through the timeline switcher's code, I noticed _previews is created only in _createPreviews and the call that causes the warning for you is in _updatePreviews. I'll add a null check on a separate branch.

[2019-09-25 20:23] terencode commented on #108
Do I apply 07ad39f  on top of  a5941bd ?

[2019-09-25 20:26] terencode commented on #108
With both applied I get this:
[code]

and the usual `The offending signal was destroy on ...`

[2019-09-25 20:31] alex4401 commented on #108
Try 4743f89 and see if it silences the offending signal messages - possible there are some side-effects though.

Missing `_initialDelayTimeoutId` is a bit worrying - it seems to further confirm my theory that the switcher gets destroyed before it's even fully created.

[2019-09-25 20:42] terencode commented on #108
With `4743f89`, it's like the extension is disabled (the old alt-tab shows up) and no errors/warnings shown in the logs.
(good night)

[2019-09-26 07:44] alex4401 commented on #108
What are your settings? Maybe that'll help me to reproduce that as it's working fine on my machine.

Also, are any errors reported (for this extension) in the extensions tab of the looking glass (`Alt`+`F2` and type in `lg`)?

[2019-09-26 09:22] JayBeeDe opened #109 "After using Alt+Tab combination, maximized windows on the secondary monitor don't fit vertically the entire screen"
Hi,
I have an issue on CentOS 7 with gnome 3 and the following configuration:
- ConverflowAltTab extension is enabled
- extended desktop with 2 monitors
- 2 identical monitors (2x 1920x1080pixels, monitors are horizontally aligned => 3840x1080 pixels)
- **top bar and window bar only on the primary monitor (left monitor)**
- Coverflow alt-tab activated and configured as follow :
![Screenshot from 2

[2019-09-26 09:22] JayBeeDe commented on #19
yes : issue #109 has been opened.

[2019-09-26 11:51] terencode commented on #108
If I open the settings while the extension is enabled and switch between timeline and coverflow this happens:
[code]

In addition to that what I described early is when I restart the shell with the extension enabled.
If I disable and enable it back, it will work again.

[2019-09-26 12:49] alex4401 commented on #108
I hope someone else is able to find a solution then, as I currently have no ideas how to solve GC spam.

[2019-10-06 18:50] SubhamSatyajeet opened #111 "Window Title Box font does not scale on HIDPI screens"
Ubuntu 19.04
Gnome Shell 3.32.2

Currently, the window title box's font size is set according to the resolution of the screen. If you change the scaling factor (via Gnome Tweaks), the font size does not change. This results in tiny fonts on a 1080p 15" laptop screen/other HIDPI displays.

There are 2 possible approaches:
1) Make the font size in the application titlebar scale according to the scal

[2019-10-07 14:00] lverissimo commented on #108
stoped working for me too on gnome 3.34

[2019-10-07 15:52] alex4401 commented on #108
@lverissimo Huh, that's new considering it actually stopped working for you. Could you post your GNOME Shell's log?

[2019-10-19 13:52] henrik-wittenberg commented on #108
Does not work on manjaro with gnome version 3.34.1

[2019-10-19 15:24] alex4401 commented on #108
@henrik-wittenberg Could you post the journal for GNOME Shell?

[2019-10-20 01:42] wxguy opened #112 "Not working on Ubuntu 19.10"
It is not working on latest Ubuntu 19.04. Installed the extension from extensions.gnome site.

[2019-10-20 05:09] PJSingh5000 commented on #112
Not working in Ubuntu 9.10 with Gnome 3.34.1. The cover-flow animation is not there, although pressing Alt-Tab does activate the next window.

[2019-10-20 05:35] PJSingh5000 commented on #112
I see these two errors while trying to use Alt-Tab...

(By the way, I have this extension installed in `usr/share/gnome-shell/extensions` and the `CoverflowAltTab@palatis.blogspot.com` directory is owned by root).

[code]

[code]

[2019-10-20 16:12] TimTomTwo commented on #108
@henrik-wittenberg
Hi,
I've got the same problem on Manjaro for a couple of days/weeks now. Alt-Tab seems to be working fine, but the the animation is not visible. Here is some snippet of my journalctl output:

`Okt 20 18:01:57 my-linux gnome-shell[1734]: JS ERROR: TypeError: texture.get_size is not a function
                                            _createPreviews@/home/ttimar/.local/share/gn

[2019-10-21 06:19] p91paul commented on #112
Hi, I have yet to find time to upload this to e.g.o., but you can uninstall your current version and install manually from here on github, instructions are provided on the homepage.

@PJSingh5000 given the location of your installation you probably installed an unofficial package from a third party; I just created v1.8 tag here on github, you can direct the maintainers of your package to build a n

[2019-10-21 14:28] alex4401 commented on #108
@TimTomTwo Thank you for the journal! It looks like you're using a version that hasn't been fixed yet. Try using the code at master branch.

@p91paul Did the patch hit the GNOME extension repository?

[2019-10-21 14:58] TimTomTwo commented on #108
@alex4401
Yeah, I installed it with extensions.gnome.org.
Works now again with the current master code.
Thx!

[2019-10-21 16:58] wxguy commented on #112
I can confirm that installing extension from github repo works fine on ubuntu 19.10. You may want to keep an entry regarding this in the readme file so that it benefits others as well.

[2019-10-22 02:02] PJSingh5000 commented on #112
@p91paul, I usually download my extensions from extensions.gnome.org, and I just copy them to /usr/share/gnome-shell/extensions so they are available globally for all users.

From your perspective, is extensions.gnome.org considered a third party? If so, I will be sure to get this extension from here, in the future.

I can see that v1.8 from github is working for @wxguy. I'll try it in a few minut

[2019-10-22 06:42] p91paul commented on #112
ok if you are getting from ego disregard my comment.

[2019-10-22 18:02] PJSingh5000 commented on #112
Just tried it from Github... Works smoothly! Thanks. :)

[2019-10-24 20:22] henrik-wittenberg commented on #108
Cloning the master branch code worked for me, too. :-)

[2019-10-24 21:04] p91paul commented on #108
sorry guys, I haven't got a minute in the last few weeks. The main bug here is still #95 unfortunately.

[2019-10-27 10:55] p91paul commented on #112
I uploaded to extensions.gnome.org, now we are waiting for reviewers to release it! Thanks for your help!

[2019-10-27 10:55] p91paul commented on #108
I uploaded the extension to extensions.gnome.org, now it is pending review.

[2019-10-27 12:55] PJSingh5000 commented on #112
Good news! Please update us once they approve it, and I will test.

Thanks, again... We all really appreciate your hard work!

[2019-10-28 15:50] #112 closed

[2019-11-02 11:45] p91paul commented on #108
v40 is available on extensions.gnome.org!

[2019-11-02 12:26] alex4401 commented on #108
@p91paul There's still an issue left that isn't solved yet (GC cries of horror) and that's what the issue was about before #106 started leaking into it.

[2019-11-02 23:08] p91paul commented on #108
no, I didn't realize this thread was hijacked and started to think it was about 3.34 compatibility only.

[2019-11-03 04:33] rudrab opened #113 "updated version is yet to be pushed in gnome-extension"
Hi,
While, to my knowledge, #106 and #107 is solved upstream, this update is yet to be pushed in gnome-extension website.

[2019-11-03 18:41] p91paul commented on #113
v40 has been accepted a couple days ago.

[2019-11-03 18:41] #113 closed

[2019-12-17 17:46] jeevan07 opened #114 "[QoL suggestion] Display icons of all open windows on top during the alt-tab animation"
While it's great eye candy, it's not that functional for everyday use tbh. An array of icons like the default alt-tab being displayed up top will be very helpful as the coverflow animation plays.
Making this both functional and elegant.

[2020-01-24 20:34] doktorjw opened #115 "Mouse issues"
I'm running Ubuntu 19.10, with a 4k main display and a 2k secondary display. The main display is a big Vizio 4k lcd tv, actually, while the secondary is a Dell 2k in portrait mode.

With coverflowAltTab installed, I periodically get mouse inputs blocked. It sounds like many issues I've found that have been reported over the years, but .... this only happens with this one extension installed. I uni

[2020-01-25 15:08] p91paul commented on #115
can you get logs from journalctl when the freeze happens?

[2020-01-30 15:44] doktorjw commented on #115
Sorry I haven't responded. I'll try to recreate it this afternoon & remote log into the box and get the logs.

[2020-01-31 15:16] doktorjw commented on #115
Here you go; hopefully I left enough in the log that you can investigate. Had the issue this morning.

[journalctl.gz](https://github.com/dmo60/CoverflowAltTab/files/4140063/journalctl.gz)

[2020-02-14 17:25] olibre commented on #19
I have a similar issue on Fedora 31 (GNOME 3.34) using a laptop connected to two other monitors (total = three screens). This issue is not reproducible when using only my laptop screen (the other monitors are disconnected).

Sometimes, pressing <kbd>Alt</kbd> + <kbd>Tab</kbd> does not produce any glitch. But often, when releasing the <kbd>Alt</kbd> key, all screens start glitching for ever, switch

[2020-02-26 15:05] olibre commented on #19
Today, ConverFlow works as a charm 😻
I think the **issue is related to Linux kernel v5.4**:
* I have updated Linux kernel from v5.4 to v5.5 yesterday
* I know ConverFlow was working fine in the beginning of the year, when I was using Linux kernel 5.3
* The proprietary NVidia driver is not well integrated in Linux kernel 5.4 (my laptop was not able to boot GNOME, I had to reboot using Linux 5.3)

T

[2020-02-27 13:02] CTimmerman opened #116 "Replaces Switch application without grouping application windows"
Currently it replaces both Alt+Tab (Switch windows) and Super+Tab (Switch applications) with the same feature.

Gnome Shell on Gnome 3.34.3 in Ubuntu 19.10 x86_64. Could not find version of Coverflow Alt-Tab in Ubuntu Software.

[2020-02-27 20:40] p91paul commented on #19
@olibre glad you solved your issue!

[2020-03-03 00:32] rockorequin opened #117 "coverflow not compatible with gnome-shell 3.36"
In gnome-shell 3.35.91-1ubuntu2, pressing alt-tab with coverflow enabled does nothing.

gnome-tweaks doesn't show any error for coverflow, but this error appears in the journal:

[code]

[2020-03-08 12:29] fgheng opened #118 "Please support gnomeshell 3.36, thank you very much"

[2020-03-09 08:19] colben commented on #118
Oh ... Come on! I can not use gnome without this extension! Please ...

[2020-03-09 22:45] p91paul commented on #118
duplicate of #117

[2020-03-09 22:45] #118 closed

[2020-03-09 22:46] p91paul commented on #117
Sorry, unless someone opens a pull request it is going to take some time before I can look into this issue.

[2020-03-09 22:53] p91paul commented on #115
I got in a bad loop at work and I'm not out yet. I cannot tell when I'll look into this issue. I'm very sorry.

[2020-03-10 04:03] rockorequin commented on #117
@p91paul: Do you know where I can find the documentation for Meta.BackgroundGroup?

[2020-03-10 13:54] alex4401 commented on #117
Working on a patch. I'll see how far I can go.

[2020-03-10 14:57] alex4401 commented on #117
Could someone check whether the PR works for them?

[2020-03-10 17:02] BogdanDarius commented on #117
@alex4401 I tried the PR. Sometimes it freeze and the coverflow menu doesnt show up.
Here are some errors I get:
[code]

[2020-03-10 17:10] alex4401 commented on #117
_windowTitle error seems to be somewhat a race condition, but I hope the two other errors are now fixed in the PR. Thanks.

[2020-03-10 17:17] BogdanDarius commented on #117
Those seems to be resolved.
But I got a new error:
[code]

[2020-03-10 17:42] alex4401 commented on #117
Oops, forgot to import it. Sorry.

[2020-03-10 18:06] BogdanDarius commented on #117
It works very well now.
There are only two warnings but they dont crash the extension:
[code]
Thank you!

[2020-03-10 19:25] rockorequin commented on #117
I'm seeing mixed results with this pull with my two monitor setup. Sometimes it works flawlessly, but:

- Sometimes when I press ALT-TAB, all I see is a white line down side of the dock, and when I release ALT-TAB, the screen flickers

- Sometimes when I press ALT-TAB, the windows that appear for selecting the tasks are huge, as if they are being drawn for a much larger monitor

- Occasionally aft

[2020-03-10 19:38] alex4401 commented on #117
Unsure about that - perhaps it's a change in Mutter, but I won't be able to patch this one. All hope in in p91paul for ya.

[2020-03-11 01:53] rockorequin commented on #117
There's nothing while the huge windows are up, but when I release ALT-TAB, I get a number of errors in the log like this:

[code]

When the white line/flickering happens, I get errors like this:

[code]

and
[code]

[2020-03-11 14:06] doktorjw commented on #115
Not a problem. I've been in work-hell the last several weeks as well, trying to track down some pretty strange issues. It happens. :)

[2020-03-11 14:57] alex4401 commented on #117
GC errors are something that has been showing up since 3.34 (and probably a bit earlier than that).

Seems like I'm also hit by the multi-display issue though.

[2020-03-11 15:14] alex4401 commented on #117
Perhaps the assertion errors are caused by a conflict with some different extension, but I cannot reproduce them with dash-to-panel. No switcher shows for me on multi-display, but I am not familiar enough with GNOME nor the extension's internals to find a cause.

[2020-03-11 23:26] p91paul commented on #117
with multi monitors, do you all have "use always primary monitor" checked? there are known long-standing issues with multi monitor without this option.

[2020-03-12 12:25] BogdanDarius commented on #117
I think it can be merged.I have been using it for about 2 days and no crash, only those warnings.

[2020-03-13 00:11] rockorequin commented on #117
Re using just the primary monitor, the configuration window doesn't show at all for me (the journal says " Started Application launched by gnome-shell" but nothing happens), so I modified switcher.js to always select the primary monitor. Unfortunately it didn't help - I still get either the nothing shows and window flickering, or giant windows (displayed across both monitors).

[2020-03-13 09:57] alex4401 commented on #117
The configuration window might not show up if you're using GNOME 3.35.91 (bug #2240), it should open on newer versions though.

Always on primary monitor also does not work for me.

[2020-03-13 10:22] alex4401 commented on #117
Pushed a fix that works for me.

[2020-03-13 12:52] p91paul commented on #117
If everybody agrees, during the weekend I'm going to merge the pull request and push it to extensions.gnome.org for basic 3.36 functionality, even if multi-monitor is not fixed yet.

Given the fact I can no longer have a social life due to nationwide quarantine in Italy, I hope to solve some issues at work and then get some forced free time during which I can dedicate to this.

[2020-03-15 03:57] rockorequin commented on #117
The patch works fine in Wayland with multiple monitors btw, it's only in X that there are multi-monitor issues. xrandr only shows the one screen in Wayland:

[code]

[2020-03-15 09:17] p91paul commented on #117
Merged the pull request. Leaving this issue opened for multi monitor issues!

[2020-03-16 09:34] rockorequin commented on #117
In case it helps, here is xrandr for the X session:

[code]

[2020-03-16 09:36] rockorequin commented on #117
If I change the two monitors so they have exactly the same resolution, I still see the problem.

[2020-03-22 01:42] reuixiy commented on #117
Looks like we can't cycle through the windows by the **arrow keys** now. Not sure if this is my case only.

[2020-03-25 06:38] rockorequin commented on #117
My ubuntu just upgraded gnome-shell to 3.36.0-2ubuntu1, and coverflow seems to be working fine in X11 again (hurray!).

[2020-03-26 13:30] henrik-wittenberg commented on #117
Does not work on my Manjaro installation (Gnome 3.36/X11).

It installs without any error, but then I cannot use alt-tab anymore (I have to deactivate the extension in order to use the standard alt tab again).

[2020-03-27 08:41] alex4401 commented on #117
@henrik-wittenberg I think the extension wasn't uploaded yet to GNOME Extension - can you try master branch?

[2020-03-27 14:15] henrik-wittenberg commented on #117
Thanks, that worked for me. :-)

[2020-04-05 22:28] avantbored commented on #117
Master branch fix did not work for me.

Running Manjaro on Gnome 3.36.

[2020-04-06 08:00] alex4401 commented on #117
@avantbored Please post your journal for /usr/bin/gnome-shell.

[2020-04-07 02:25] avantbored commented on #117
The extension does not appear in my extensions list.

I have attempted to manually install, as per the instructions on the front page.

This is the output:

`$ sudo make all
msgfmt "CoverflowAltTab@dmo60.de/locale/cs/LC_MESSAGES/coverflow.po" -o "CoverflowAltTab@dmo60.de/locale/cs/LC_MESSAGES/coverflow.mo"
msgfmt "CoverflowAltTab@dmo60.de/locale/de/LC_MESSAGES/coverflow.po" -o "CoverflowAltTab@dmo

[2020-04-07 08:19] alex4401 commented on #117
Please don't try to install the extension as root.
If you want to install it system-widely, use `sudo make all LOCALINSTALL=true`, otherwise `make all`.

[2020-04-07 15:19] avantbored commented on #117
Thank you.

`make all` returned the same error as `No such file or directory make: *** [makefile:53: install] Error 1`.

I then did `sudo make all LOCALINSTALL=true`, which returned the following output:

`msgfmt "CoverflowAltTab@dmo60.de/locale/cs/LC_MESSAGES/coverflow.po" -o "CoverflowAltTab@dmo60.de/locale/cs/LC_MESSAGES/coverflow.mo"
msgfmt "CoverflowAltTab@dmo60.de/locale/de/LC_MESSAGES/cover

[2020-04-08 07:25] alex4401 commented on #117
Make sure $HOME/.local/share/gnome-shell/extensions exists.

[2020-04-08 19:41] avantbored commented on #117
Hello,

Navigated to my `.local` directory and found a leftover installation. I removed it, repeated the Master Branch installation recommendations, and now CoverFlow works. Thank you for your assistance.

[2020-04-09 18:35] dasnoopy commented on #94
@p91paul  : maybe you could  evaluated the possibility to implement , in the preferences panel, an option  to set blur background as alternative to the background-dim.

Now,  with gnome shell vers. >= 3.36.x , it is possible have a native support for blurred background.. (https://blogs.gnome.org/shell-dev/2020/02/18/login-and-unlock-in-gnome-shell-3-36).
Also  blyr extension adopted this in the la

[2020-04-12 10:53] p91paul opened #122 "Multi-monitor issues on 3.36"
See https://github.com/dmo60/CoverflowAltTab/issues/117

[2020-04-12 10:54] p91paul commented on #117
Extension uploaded to e.g.o., in now pending review.
I opened https://github.com/dmo60/CoverflowAltTab/issues/122 to track multi-monitor issues, so closing this one. @alex4401, many thanks, both for code and for user support here!

[2020-04-12 10:54] #117 closed

[2020-04-13 07:36] rockorequin commented on #122
I think this might have been fixed by an upgrade in gnome-shell/mutter. I'm running gnome-shell 3.36.1-4ubuntu1 and coverflow is working nicely under X11 with two monitors.

[2020-04-13 10:23] p91paul commented on #122
Nice, didn't notice your last comment on the other issue. I'll leave this open for a while longer, if noone reports issues I will close it. Thanks!

[2020-04-19 11:37] jangroth opened #123 "Missing dependency Graphene"
Updated to the latest version:

[code]

Not quite sure how to work around this properly fixed?

[2020-04-19 18:55] fabianhjr commented on #123
I am also having this problem however I have made triple sure I had graphene installed:

[code]

[2020-04-19 21:48] p91paul commented on #123
someone reportedly fixed this with this command: sudo apt install gir1.2-graphene-1.0

Looks like it's not graphene itself missing but gir bindings for it.
Could you test that? I plan to add this to readme.

[2020-04-19 23:17] jangroth commented on #123
I can confirm `sudo apt install gir1.2-graphene-1.0` is working for me.

Thanks @p91paul

[2020-04-19 23:41] fabianhjr commented on #123
Hi, I am on a non debian system so searching the [package](https://ubuntu.pkgs.org/20.04/ubuntu-main-amd64/gir1.2-graphene-1.0_1.10.0-1build2_amd64.deb.html) it contains

`/usr/lib/x86_64-linux-gnu/girepository-1.0/Graphene-1.0.typelib`

which in my case is in:

`/lib/girepository-1.0/Graphene-1.0.typelib`

Apparently neither gnome-shell nor this extension can find that file. Will investigate.

[2020-04-19 23:47] fabianhjr commented on #123
Ok, seems like it is missing from my "GI_TYPELIB_PATH" env variable and that is why GNOME Shell doesn't find it.

[2020-04-29 08:45] hoghweed opened #125 "Extensions doesn't work on Ubuntu 20"
Hi,
after Ubuntu upgrade to 20.04 the extension can't be enabled, and if enabled no ALT-TAB switcher appears, this also after rebooting Gnome Shell (Alt-F2 / r).

Any idea?
Thanks

[2020-05-01 16:41] rakkarage opened #126 "Selection of item in list with click?"
Thanks a lot! Looks great!

When i press alt+tab in gnome i can then selected one of the items in the list with click to select it.
Is there (could there be) a way to to the same using this?
Thanks.

[2020-05-01 17:20] dsheeler commented on #126
How do you envision that working?  You must mean by having all the items displayed at once as they are by default, is that correct?

[2020-05-01 23:46] rakkarage commented on #126
ya you can press alt+tab to show list of running programs and keep showing that list by holding alt+tab
but it seems you cannot click on a running program to select it you must use keyboard?
thanks

[2020-05-02 00:46] dsheeler commented on #126
Well, this one works where if you press alt+tab, release tab but hold alt, then pressing tab again gives you the next app, and once you reach the app you want, letting go of alt brings that one forward.  There is mousewheel for cycling, too.   Does that work for you?  I guess there could be an option for showing the default behavior as well.  That might be cool to have.  But the way things are dis

[2020-05-02 00:56] rakkarage commented on #126
![Peek 2020-05-01 20-54](https://user-images.githubusercontent.com/962340/80851202-3079fe00-8bee-11ea-997d-3ad41bacfb4a.gif)

[2020-05-02 01:15] dsheeler commented on #126
Ahh, I see.  I use the other mode where clicking isn't as easy.

[2020-05-03 04:27] lxy826076 commented on #125
me too

[2020-05-04 08:55] alex4401 commented on #125
Please post your journal for /usr/bin/gnome-shell.

[2020-05-05 15:37] HanfordWu opened #127 "Problem with xdotool"
I have xdotool installed, and I bind the key: alt+Tab in it.
After turn on convertflowAltTab, often "xdotool key alt+Tab" doesn't work, only work once in a while. I cannot find any solution about this, I come to ask, thank you if any help!

[2020-05-05 22:21] 0b11001111 commented on #125
[code]

gives me

[code]

Hope that helps :)

[2020-05-06 07:37] fatboy92 commented on #123
Thanks guys, this did it for me too. Very nice extension, many thanks.

[2020-05-17 09:40] #123 closed

[2020-05-17 09:50] p91paul commented on #125
Line numbers in your stacktrace are completely different from current code. You sure you are using the latest version?

[2020-05-19 11:06] 0b11001111 commented on #125
Not sure as I've updated it in the mean time. It was a clone of the current master at that time I believe but I'm not 100% sure. However, with the latest release, the issue is gone for me.

[2020-05-19 21:29] #125 closed

[2020-05-20 20:17] doktorjw commented on #115
As an FYI; I've updated to Ubuntu 20.04 .... and re-enabled coverflow alt-tab and I've not had any issues in the last couple of days. With 19.10, it would cause me grief with minutes, generally, or maybe after 1/2 hour to an hour. Lately ... nothing.

One other difference is that I'm not running one monitor in portrait mode --- it's a separate issue there, not related to this plugin, where Gnome/n

[2020-08-09 09:13] machitgarha commented on #108
Hi. Aren't there any fixes for this bug yet? I'm still getting "Attempting to call back into JSAPI during the sweeping phase of GC." warnings.

Nonetheless, I tried to reproduce the same warning. Here are the results:

## Steps to Reproduce

0. Install the extension.
1. Enable the extension.
2. Press Alt + Tab to switch windows.
3. Bunch of warnings (or the like) should be logged into `journalctl`

[2020-08-09 12:03] mansoorahmedme opened #130 "[Enhancement] Request for more animations."
Can you add more animations. Such as a cube or in a circle (with large icons).

[2020-08-28 20:46] #104 closed

[2020-09-12 14:15] rockorequin opened #131 "Doesn't run in gnome-shell 3.37"
The error message is "No JS module 'tweener' found in search path".

I'm using gnome-shell 3.37.91-1ubuntu1.

[2020-09-14 09:08] machitgarha commented on #108
For the sake of knowledge, the error happens [here](https://github.com/mtwebster/gjs/blob/1512096fe02661aeb7ceee2cbde5a47d80ca1ec0/gi/value.cpp#L144), in GJS library itself.

[2020-09-14 14:15] alex4401 commented on #131
Although I switched from this extension to a handmade one, I might submit a PR with these changes if it doesn't look too messy.

[2020-09-14 22:24] p91paul commented on #131
That would be nice!

[2020-09-15 06:27] machitgarha commented on #108
@alex4401 Yes, I know. However, I try to find what exactly is happening in the underlying layer in GJS, and then, understand where is the problem in the extension itself. Maybe there are better solutions for this, but, I prefer to do so. And if you have another solution (perhaps being easier), we all can benefit from you.

[2020-09-15 07:00] alex4401 commented on #108
Sorry if this sounded hostile. The error is probably caused by a stray actor that gets collected by GC. Actor has surely a destroy signal connected, which can't be invoked because Gjs is locked for the duration of garbage collection.

The extension needs to be scanned for such actors and they have to be disposed of manually if the destroy signals are needed.

[2020-09-15 07:30] machitgarha commented on #108
@alex4401 Good. Because of the place of the error, I thought the GC would mean GClojure, not Garbage Collection. I'll look further into it. Thanks for your comment (it was not really hostile).

[2020-09-15 07:50] machitgarha commented on #108
The problems mainly happen [here](https://github.com/dmo60/CoverflowAltTab/blob/master/CoverflowAltTab%40dmo60.de/switcher.js#L576). We are not destroying previews, window title and icon at the end, just before setting them to null. This patch removes the whole errors:

[code]

This also breaks the extension at destroying time. The reason is, the Tweener does not wait and returns, and thus, destro

[2020-09-15 07:52] alex4401 commented on #108
You could try adding a Tweener.removeTweens call for all of the destroyed actors which get tweened before.

[2020-09-15 07:55] machitgarha commented on #108
@alex4401 Does `Tweener.removeTweens()` wait for the tweens to end? Doesn't it just remove them?

[2020-09-15 07:59] machitgarha commented on #108
@alex4401 Maybe we should use `onComplete` inside `Tweener.addTweens()` instead?

[2020-09-15 08:04] alex4401 commented on #108
That should work as well I guess, without interrupting the animation if the switcher isn't hidden by this point, but I haven't used the extension for few months now and I'm probably wrong on this one.

[2020-09-15 08:06] alex4401 commented on #131
First set of 3 commits is in #132, waiting to be tested, which I can't do myself for next 5 hours.

[2020-09-19 08:47] machitgarha opened #134 "Create a new develop branch"
Having a separated `develop` is good. Afterwards, all PRs should be merged into this branch (instead of `master`), and thus, `master` will become more stable. The development process and merging PRs would happen faster, and we could also create release cycles. There are other small benefits, as well as there is almost no downside on creating such a branch.

[2020-09-19 08:54] machitgarha commented on #134
There is already an `experimental` branch, however, it is too old. I suggest to remove it and replace it with the new proposed branch, as well as removing all ancient branches, including `gnome-shell-3.2`, `no-option` and `workspaces`. Even if they contain unmerged changes, they are probably old, and we could ignore them.

[2020-09-19 08:58] machitgarha commented on #70
On Gnome 3.36, it is unreproducable. Maybe the bug is fixed across the recent changes, and we should close this issue?

[2020-09-19 10:56] p91paul commented on #134
@machitgarha could you be interested in fixing https://github.com/dmo60/CoverflowAltTab/issues/95 as well? Starting with commit rights on this repo?

[2020-09-19 11:15] machitgarha commented on #134
@p91paul Sorry, but no, I can't focus for being a maintainer of this project now. Yes, I would contribute to this project, but as a contributor, not as a maintainer. By the way, I hope it get fixed soon.

[2020-09-19 11:19] machitgarha commented on #95
@p91paul Only for the sake of knowledge: These kinds of BC breaks is going to be minimal in the next Gnome version (Gnome 40). See [this](https://www.phoronix.com/scan.php?page=news_item&px=GNOME-40-Better-Extensions).

[2020-09-19 12:37] p91paul commented on #95
I'd really like to believe that, but this was already promised many gnome versions ago. I just guess it's ok to improve on software, even if it means breaking stuff. I'll try to keep this extension alive for as long as I can, and I'm just glad I got a lot of help from the community over the years I've been doing this.

[2020-09-19 12:45] p91paul commented on #134
Here's what I did: merged both #132 and #133 in the gnome3.37 branch. Works fine on 3.36, going to test it on 3.37 now.

[2020-09-19 12:47] machitgarha commented on #95
@p91paul Yes, I do agree with you on Gnome. I'm not really hopeful with the saying, too. However, on BC breaks, I don't agree. Keeping backward-compatibility is really important IMHO. Breaking stuff just takes too much time and effort. That's why I see in discussions almost every Gnome extension developer says "What the hell, Gnome? Another break?". I personally hate BC breaks, if they happen too

[2020-09-19 12:52] alex4401 commented on #134
Works for me in a VM with 3.37.91.

[2020-09-19 12:52] machitgarha commented on #134
Good. Saw it.

For the `master`-`develop`-other branch model, I've found [this](https://nvie.com/posts/a-successful-git-branching-model/) pretty useful.

[2020-09-19 12:53] machitgarha commented on #134
@alex4401 That's great!

[2020-09-19 12:56] p91paul commented on #95
Yeah, I'm in the extensions maintenance business since I re-uploaded this one to e.g.o. in late 2012, taking over from original developer Palatis. Since then I took over another 4 ones... and I can confirm "What the hell, Gnome? Another break?" is most certainly the gnome-shell extension maintainer mantra.

[2020-09-19 13:28] p91paul commented on #134
me too. This is going to master and e.g.o. Thanks to both of you!

Yeah that's THE git branching model. However, this extension is in maintenance mode, so master + a single purpose branch here and there is more than enough. I did clean obsolete branches though.

[2020-09-19 13:28] #134 closed

[2020-09-19 13:38] machitgarha commented on #134
@p91paul Thanks for deleting obsolete branches. However, about the model, it's your choice.

[2020-09-20 05:33] Farhaduneci opened #136 "New update does not work on Ubuntu 20.04"
Would you fix the issue please, I'm not sure why it's happening

[2020-09-20 09:19] p91paul commented on #136
can you post some logs (from journalctl) from the time the issue happens? also what are the symptoms? alt tab does nothing, the animation is missing, or standard alt-tab kicks in?

[2020-09-20 10:09] giacar commented on #136
No issue for me, just reboot the session after the update, as the gnome console says.

[2020-09-20 11:34] Farhaduneci commented on #136
Thanks for that, I restarted the session and evrything were working :dizzy_face:

I did not found any log related to that, the problem accured when I tried to update the extention via extentions tab, It just displayed Error, Is there any thing that I can help you with toward this? Do you know were exactly should I look for errors?

[2020-09-20 12:15] p91paul commented on #136
Ok if the restart fixes the issue, I guess it's fine!

[2020-09-20 12:15] #136 closed

[2020-09-20 12:15] #122 closed

[2020-09-20 12:20] p91paul commented on #19
There recently was a big rewrite of many parts of this extension, courtesy of @machitgarha. From my tests with two very differently-sized monitors, this issue looks ok now. The new version is out on e.g.o for GS 3.36 and 3.38; if you experience issues with those version, please let me know and I will reopen this.

[2020-09-20 12:22] p91paul commented on #109
I never was able to reproduce this. When you get the latest update (gs 3.36+ only) please let me know if this is still an issue for you.

[2020-09-20 12:22] #109 closed

[2020-09-20 13:44] machitgarha commented on #19
@p91paul Really the current issue is fixed now!

However, you want to only support Gnome 3.36 upwards? No support for Gnome 3.30-3.34?

[2020-09-20 15:10] p91paul commented on #19
I don't have the means to test it, so I prefer to drop compatibility with older versions. Removing them from metadata.json avoids auto upgrades and potential breakage from extensions.gnome.org

[2020-10-20 16:02] guoqiyi opened #137 "ES6 grammar warnning ,need fix"
gnome-shell[564]: Some code accessed the property 'Switcher' on the module 'switcher'. That property was defined with 'let' or 'const' inside the module. This was previously supported, but is not correct according to the ES6 standard. Any symbols to be exported from a module must be defined with 'var'. The property access will work as previously for the time being, but please fix your code anyway.

[2020-10-20 16:13] guoqiyi opened #138 "gnome 3.38 keep wrnning this"
Oct 21 00:12:12 nvme gnome-shell[564]: Timelines with detached actors are not supported
Oct 21 00:12:12 nvme gnome-shell[564]: Timelines with detached actors are not supported
Oct 21 00:12:12 nvme gnome-shell[564]: Timelines with detached actors are not supported
Oct 21 00:12:12 nvme gnome-shell[564]: Timelines with detached actors are not supported
Oct 21 00:12:12 nvme gnome-shell[564]: Timelines

[2020-10-22 07:25] p91paul commented on #138
you sure this is related to this extension? does it happen only when it is enabled?

[2020-10-29 12:40] mystiquewolf opened #140 "[Feature Request] Add a tray icon to switch via mouse"
I know we have "Activities", but Coverflow is much easier when you have many apps. Please either make Coverflow activate when "Activities" is triggered, or add a new tray icon that triggers Coverflow. Thank you for this great extension.

[2020-11-05 05:10] gabrc52 commented on #72
Steps to reproduce:

1. Start dragging something (hold down the mouse)
2. Press Alt+Tab as many times as requried to switch to another window
3. Release the mouse to drop the file / thing you grabbed

Expected behavior:
You drag between both Windows.

[2020-11-05 05:13] gabrc52 commented on #116
Could you clarify?

[2020-11-05 07:15] CTimmerman commented on #116
Normally pressing Alt+Tab shows all the windows, and presssing Super+Tab shows all the apps. Coverflow only shows all windows for both shortcuts.

[2020-11-05 10:28] wildcard-f8 opened #141 "No JS module 'tweener' found in search path"
Linux 5.9.3-1-MANJARO x86_64 20.2
gnome-shell 3.38.1

can't turn on the extension.

[2020-11-05 14:54] p91paul commented on #141
you sure you are running the latest version? try updating or reinstalling, this extension was indeed ported to 3.38

[2020-11-05 17:23] maxjf1 commented on #72
This is the only reason i didn't use this extension in years. It's awesome.

[2020-11-05 22:26] p91paul commented on #72
Tried to have a short look at it. Looks like the extension heavily depends on taking focus on the switcher itself, by calling `imports.ui.main.pushModal`. Problem is, that fails if you are drag and dropping.
I tried bypassing that, but I only got my extension to crash on me, taking gnome with it :sob:.
I'll need help on this one, I onestly have no clue on what to do.

[2020-12-02 21:03] eggbean opened #142 "How can I make this extension's default ALT+TAB behaviour apply to ALT+ESC instead? (Pop!_OS)"
I would like to keep the default Pop!_OS behaviour for ALT+TAB and instead have the standard action that this extension does applied to ALT+ESC instead (ie. only switching between windows on the current workspace).

I don't mind either way if the extension still changes the behaviour or ALT-` (which is the same as default Pop!_OS, but with the animation).

Does anybody know how I can do this?

[2020-12-02 22:12] p91paul commented on #142
Only way right now is by tinkering with the code. Try editing keybinder.js by commenting out the lines you don't want coverflow to handle in the first enable method.

[2020-12-02 23:37] eggbean commented on #142
Thanks. Would those be lines here?

[code]
And what about making the additional binding to ALT+ESC?

[2020-12-04 00:01] p91paul commented on #142
Yes, those!

The actual key bound to those actions is somewhere in gsettings, I knew where a long time ago however I don't remember it now...

[2020-12-22 19:17] mrtgenet commented on #127
Same problem for me, tried `xdotool key --clearmodifiers alt+Tab` and a bunch of other workarounds but it just won't work with coverflow alt-tab extension active.

[2020-12-23 08:50] p91paul commented on #127
I'm not familiar with xdotool, what you would expect to happen, and what happens instead?

[2020-12-23 08:55] mrtgenet commented on #127
xdotool emulates keyboard or mouse inputs, so `xdotool key alt+Tab` should act as if alt+Tab had been pressed on the keyboard (so switch to previous window) which works perfectly fine normally, but doesn't (i.e. nothing happens instead of switching to previous window) when Coverflow Alt-Tab extension is active

[2020-12-23 12:07] p91paul commented on #127
Thank you. That's quite strange, considering the extension doesn't actually handle keypresses itself, instead it receives the switch-windows event. Have to look into it.

[2021-01-17 01:07] clappis commented on #142
A custom hotkey will be awesome

[2021-02-24 22:01] guoqiyi commented on #138
Yes,I disabled all other extensions,and running journalctl -f to monitor,when I press Alt+Tab to switch windows,the journalctl log keeps warning this,after half years,this problem still there

[2021-02-24 22:12] Zappo-II commented on #138
can confirm, same here...
[code]
...45 lines deleted...
[code]
[code]
and
[code]

[2021-04-05 10:36] rudrab opened #143 "gnome 40"
Hello,
any plan for releasing gnome 40 version?

[2021-04-05 10:59] p91paul commented on #143
I didn't test on gnome 40 yet.
If it's broken, can you post a log of the error?

[2021-04-05 11:00] #131 closed

[2021-04-05 11:04] rudrab commented on #143
No its not broken. thats why I havn't put any error or problem. If you just add "40" in metadata, then its working fine (I build from the git).

[2021-04-05 15:53] p91paul commented on #143
good to know, thank you. Will try and issue a new release.
Did you try editing preferences?
Probably some modifications will be needed there...

[2021-04-06 02:16] rudrab commented on #143
Hi,
I had not tried editing preferences, but as with all the pre-40 plugins, this has the same problem:
[code]

[2021-04-09 04:02] rudrab commented on #143
Dear @p91paul
I have checked the extension from master branch (somehow git clone doesnt work; I downloaded the zip.). This is to report that it is working fine, without any problem, including the settings.
Thanks a lot.

[2021-04-09 06:57] p91paul commented on #143
you have to thank @hiaselhans actually!
Will leave this open until I upload to e.g.o.

[2021-04-09 13:39] rudrab commented on #143
I have upvoted @hiaselhans's thread. But yes, you guys has made my laptop looking beautiful again.

[2021-04-09 22:38] p91paul commented on #143
upload made, waiting for approval!

[2021-04-09 22:38] #143 closed

[2021-04-11 12:44] p91paul commented on #80
Pull request has been merged.
For the definition of "current monitor" I decided not to rely on cursor position calculations but in Gnome Shell own API (there is an object `Main.layoutManager.currentMonitor`).
Turns out they agree with @pospeselr, at least from my testing.

Sorry for the long time it took to close this, when initial Gnome 40 compatibility is approved on e.g.o. I'll probably issue a

[2021-04-11 12:44] #80 closed

[2021-04-11 12:45] p91paul commented on #141
Closing for lack of feedback, probably OP was running an outdated version.

[2021-04-11 12:45] #141 closed

[2021-04-11 12:51] p91paul commented on #142
Hotkeys can be changed in your Gnome settings: Keyboard -> Customize shortcuts -> Navigation.
Apparently Alt + Tab cannot be changed, but other shortcuts (es Super + Tab) can; considering we all bound them to the same action, it should be fine.

[2021-04-11 12:51] #142 closed

[2021-04-11 13:01] machitgarha commented on #137
It seems it is already fixed, perhaps in #133. I think the issue is happened with a not-up-to-date version of the extension, as the pull request is merged before the current issue. However, I did a search in all files, and it seems there is only one use of the keyword `var`, in `preview.js`, which is unrelated. Plus, I checked my journalctl logs, and there the mentioned error have not happened a s

[2021-04-11 13:04] machitgarha commented on #61
#145

This issue should be closed.

[2021-04-11 13:12] p91paul commented on #138
I reproduced this on Gnome 40 as well. Since I have no clue about how to understand what or if I'm doing something wrong, I reported it upstream (https://gitlab.gnome.org/GNOME/gnome-shell/-/issues/4098)

[2021-04-11 13:13] p91paul commented on #137
@machitgarha thanks!
I confirm I don't see it either.

[2021-04-11 13:13] #137 closed

[2021-04-11 13:28] p91paul commented on #127
Did some test and didn't manage to find a culprit.
The thing is: I reproduced the same behavior (xdotool not doing anything) even with this extension disabled.
My test was on wayland.
Considering this, I will close this issue since it's either in gnome, xdotool or something in the middle of them.

[2021-04-11 13:35] p91paul commented on #140
After thinking about it, I don't think it's the place for this extension to do that.
Ideally, another, separate extension could add a tray icon or hijack the activities overview to launch the 'switch-windows' event or something else.
Also, I'd argue the activities overview is much easier to navigate with many windows, coverflow works for 3 windows, some more in timeline mode, but that's it.

[2021-04-11 13:35] #140 closed

[2021-04-11 13:36] machitgarha commented on #127
@p91paul xdotool is not supported on Wayland for security reasons. See [this AskUbuntu question](https://askubuntu.com/questions/956640/equivalent-to-xdotool-for-wayland).

[2021-04-11 13:38] p91paul commented on #115
Seeing that with a system upgrade it got better, I'm going to close this issue.
Sorry I wasn't really helpful, if it happens again please reopen with fresh logs.

[2021-04-11 13:38] #115 closed

[2021-04-11 13:44] p91paul commented on #108
I cannot reproduce this on Gnome 40.
I don't know if it was solved by code improvements in the various pull requests or by Gnome new versions, but I'm going to close this.
If anyone reproduces on Gnome 40, please let me know and I will reopen.

[2021-04-11 13:47] p91paul commented on #103
Sorry for the long time it took to respond.
I never reproduced this, and 2 years and many Gnome versions have passed. So if this still happens to someone, please open a new issue, possibly collecting journalctl logs.

[2021-04-11 13:47] #103 closed

[2021-04-11 13:55] #96 closed

[2021-04-11 13:56] p91paul commented on #96
I should have fixed this in master, will work in Gnome 40 only.

[2021-04-11 13:59] p91paul commented on #95
I would still like for someone to step up in my place.
Maybe one day I will give up entirely, and someone will be forced to step up, like I was forced to a long time ago.
For now, I will keep maintaining hoping contributions continue to arrive like they do now.

[2021-04-11 13:59] #95 closed

[2021-04-11 14:04] p91paul commented on #93
I merged https://github.com/dmo60/CoverflowAltTab/pull/145 and decided to drop Cinnamon support.
This extension, or most of it at least, should be part of cinnamon anyway; I'm aware that this extension provided more options that the cinnamon builtin, but I'm not a cinnamon user and I'm unable to provide support for it due to limited time.
If anyone wants to contribute working cinnamon code, it wil

[2021-04-11 14:04] #93 closed

[2021-04-11 14:07] p91paul commented on #90
Hi, while I'm sorry this issue does not have an happy ending, we haven't supported Gnome 3.30 in years and didn't receive reports on newer versions.
So I'm going to close this.

[2021-04-11 14:07] #90 closed

[2021-04-11 14:34] p91paul commented on #84
I finally committed a fix to master.
This is actually a workaround, setting a fixed width and height on the icon, that will not be scaled and get smaller, so that the positioning calculations work.
But this should actually be fixed with a layout and/or good css.

[2021-04-11 14:34] #84 closed

[2021-04-11 14:35] GeorgesStavracas commented on #138
This error signals that you're adding a timeline (either through `actor.ease()`, or `actor.add_transition()`) to an actor before adding the actor to a parent.

[2021-04-11 14:55] #79 closed

[2021-04-11 14:55] p91paul commented on #79
Should be fixed in master for Gnome 40+ only.

[2021-04-11 14:57] p91paul commented on #74
Going to close this issue since at the time I was unable to reproduce it and many years have passed.
If it rehappens, please make sure to report it to dash to panel as well so we can collaborate on it.

[2021-04-11 14:57] #74 closed

[2021-04-11 14:58] p91paul commented on #70
Closing as suggested.

[2021-04-11 14:58] #70 closed

[2021-04-11 15:10] p91paul commented on #68
From what I can see, the current behavior loads the animation when the first switch is actually completed.
The 150ms limit was put there to avoid showing half animations when switching was very fast.
If you see the animation, it means you kept pressed the keys long enough for the animation to show properly, so there is no need to prevent the animation from showing.
While I'm still going to accept

[2021-04-11 15:10] #68 closed

[2021-04-11 15:11] p91paul commented on #61
I merged #145 and decided to drop Cinnamon support.
This extension, or most of it at least, should be part of cinnamon anyway; I'm aware that this extension provided more options that the cinnamon builtin, but I'm not a cinnamon user and I'm unable to provide support for it due to limited time.
If anyone wants to contribute working cinnamon code, it will be welcome. Infrastructure to support multi

[2021-04-11 15:11] #61 closed

[2021-04-11 15:13] p91paul commented on #59
I merged #145 and decided to drop Cinnamon support.
This extension, or most of it at least, should be part of cinnamon anyway; I'm aware that this extension provided more options that the cinnamon builtin, but I'm not a cinnamon user and I'm unable to provide support for it due to limited time.
If anyone wants to contribute working cinnamon code, it will be welcome. Infrastructure to support multi

[2021-04-11 15:13] #59 closed

[2021-04-11 15:14] p91paul commented on #17
A lot of time has passed and I cannot reproduce now. So I'm going to close this issue.

[2021-04-11 15:14] #17 closed

[2021-04-11 15:16] #34 closed

[2021-04-11 15:20] p91paul commented on #24
My pledge was so void!
Right now I think that particular setting is applied only after a Gnome restart. So I guess it's not reproducible anymore.

[2021-04-11 15:20] #24 closed

[2021-04-11 15:22] #19 closed

[2021-04-11 20:25] p91paul commented on #127
I had limited success with this script on Xorg:

    xdotool keydown  alt; sleep 0.3; xdotool key Tab; sleep 0.15; xdotool keyup alt

Apparently, something *is* wrong with this extension because without it alt tab is correctly triggered.

Only thing I get in the log is this:

    g_source_remove: assertion 'tag > 0' failed

[2021-04-20 00:47] Testing-XYZ opened #149 "Dim-factor no longer work in Gnome 40"
As titled, adjusting background dim-factor have no effects on dimming of Coverflow.

[2021-04-21 18:24] sengelsman opened #150 "Preferences broken in gnome-shell < 4.0"
OS: Ubuntu 20.10
Gnome-shell: 3.38.2-1ubuntu1~20.10.1
CoverflowAltTab: Release 1.11

After updating to latest release (1.11) the preferences screen is not shown. Instead i get the following exception:

[code]
Comparing `prefs.js` from release 1.10 and 1.11 i notice that gnome-shell 4 support was added, effectively breaking support for older versions.

[2021-04-21 23:50] p91paul commented on #150
That's correct. My policy is to support only the latest Gnome version, as they break stuff too often and I don't have the resources to keep supporting older versions too.
You should use the extension version with support for your gnome version; if you install from extensions.gnome.org that will be handled for you automatically, otherwise just stick to the right git tag.

[2021-04-21 23:51] #150 closed

[2021-04-28 17:07] nunesdelfino opened #151 "Show windows from current or all workspaces"
I would like to know how I can change only the option for all workspaces, maintaining the same appearance as the default gnome. Because in the standard change windows only on the same desktop, Gnome 40. Thanks.

[2021-04-28 17:40] #151 closed

[2021-04-28 17:41] nunesdelfino commented on #151
/org/gnome/shell/window-switcher/ alterar esse ponto

[2021-05-01 10:16] MuhammedTaha02 opened #152 "Request"
Hello there. This plugin is very nice. Thanks for the plugin. I have a suggestion and a problem.

My suggestion: It would be perfect if you can do an infinite window loop from the left and right with the Coverflow effect. For example, have A and B windows open. When we Alt + Tab, it will appear as A - B - A or B - A - B

Problem: I am using the dash to dock plugin ewlsh developed for gnome40. Some

[2021-05-01 14:32] p91paul commented on #152
Hi, those were already reported as https://github.com/dmo60/CoverflowAltTab/issues/23 and https://github.com/dmo60/CoverflowAltTab/issues/65.
The "Dash to Dock" issue however was resolved many years ago... is it a new Dash to Dock plugin? could you report it to them?

[2021-05-01 19:18] MuhammedTaha02 commented on #152
As an animation, I guess it would be much better if it was like the link I found there. (Sorry. My english is bad :/  )
https://codepen.io/shshaw/pen/NxWgxJ?editors=001

For Dash to dock, you can follow the commit here.
https://github.com/micheleg/dash-to-dock/pull/1402

Thanks.

[2021-05-01 23:09] p91paul commented on #152
Ok then I suggest you let them complete their work on that. Open a new bug on that repository if the issue persists after they merged Gnome 40 support and tag me so I can be of help.
I'm going to close this issue for now.

[2021-05-01 23:09] #152 closed

[2021-05-02 00:34] MuhammedTaha02 commented on #152
Thank you for your interest. Goodbye :).

[2021-05-18 10:35] redgryphon opened #153 "Separate the coverflow on each display"
Right now when there are multiple displays the coverflow is shown in the one where the focused windows is but it contains all the windows present in the workspace (in all the multiple displays available if the workspace spans the displays).

There should be a chance to configure the extension and allow the user to decide if showing only the windows present in the current display (with current I me

[2021-05-18 21:54] p91paul commented on #153
should be implemented in current master. Could you try from manual installation? I will upload to e.g.o., I didn't before to avoid overcharging reviewers shortly after gnome 40 release.
Note: current master supports gnome 40 only and I don't plan on backporting features.

[2021-05-24 13:18] redgryphon commented on #153
I confirm it's working on master. I found PR #146 implementing it for reference if needed by other people in the meantime it will be uploaded on extensions.gnome.org.

[2021-05-29 12:51] p91paul commented on #153
Version uploaded to e.g.o., it's now pending review.

[2021-05-29 12:51] #153 closed

[2021-09-01 02:10] dsheeler opened #155 "Ease the selected window coming to foreground"
I am pretty sure I remember a time when the selected window would ease into its foreground position. In particular, I remember this happening when elastic easing is on.  Currently, the window just appears on top with no easing.    Does anyone else remember this behaviour, and does anyone remember why it changed or how to bring it back?

[2021-09-01 12:34] dsheeler commented on #155
@machitgarha, can you point to what worked in the past?

[2021-09-01 12:56] machitgarha commented on #155
@dsheeler

If I understand you correctly, as I remember, after releasing the shortcut (e.g. releasing Tab while switching using Alt + Tab), the selected window was being animated to be placed on the screen, right in its previous position.

And about how to bring the feature back, I have really no idea for now. I made the commits a long time ago (almost a year ago), so if you want, I can take a loo

[2021-09-01 13:29] dsheeler commented on #155
@machitgarha, I should have been more clear: I meant, where is the code that used to animate the window to its previous position? I'll take a look at your commits.

[2021-09-01 14:50] machitgarha commented on #155
@dsheeler I have to look then.

For now, I guess it might be somehow related to #108.

[2021-09-01 14:50] machitgarha commented on #108
@p91paul Reproducable for me on Gnome 40. Please re-open it. Thanks. :)

[2021-09-01 16:12] machitgarha commented on #155
@dsheeler Sorry, I have no idea for now where the problem is, and I don't have time to investigate further. I may come back to look at this the next week, but I don't promise. :)

BTW, thank you for your effort. :)

[2021-09-01 16:39] dsheeler commented on #155
@machitgarha, thank you for looking. I miss the effect!  I was looking at older code and still could not figure what does the easing in the code. If you could explain that, I would be very grateful!

[2021-09-01 17:07] machitgarha commented on #155
@dsheeler, well, look for `tween()` function calls mainly, and specifically, `this._manager.platform.tween()`. The main functionality of animation effects live in `platform.js`, but it might not be necessary to look there.

An example. Look at [`coverflowSwitcher._animatePreviewToMid()`](https://github.com/dmo60/CoverflowAltTab/blob/master/CoverflowAltTab%40dmo60.de/coverflowSwitcher.js#L238); the

[2021-09-02 16:30] dsheeler commented on #155
@machitgarha, I have hacked my way to something that makes this work.  I'll put together a pull request when I get the chance.

https://user-images.githubusercontent.com/1632985/131882094-94470e36-2c7b-44ba-9c2b-e059dfed5ee4.mp4

[2021-09-02 16:33] machitgarha commented on #155
@dsheeler Well, that sounds really cool! Personally, I'm not using it, because this bug annoys me as hell (and I forgot to at least open an issue for that). So, a special thanks to you! I'm really waiting for that.

[2021-09-02 16:40] dsheeler commented on #155
@machitgarha, I won't keep you waiting long--  just a few hours, probably ;)

[2021-09-03 02:27] dsheeler opened #156 "Switching switcher style in preferences does not switch the style"

[2021-09-03 03:11] dsheeler commented on #155
@machitgarha, check out #158.  It's a wip pull request because I don't think it's perfect.

[2021-09-03 12:49] dsheeler opened #159 "Elastic easing option does not lead to elastic easing."
The easing ends up being quad or cubic, not back.

[2021-09-11 13:00] #156 closed

[2021-09-11 13:02] #159 closed

[2021-09-11 13:51] #149 closed

[2021-09-30 18:38] myousefnezhad opened #162 "GNOME 41 compatibility"
Thank you very much for this wonderful extension.

I want to ask you to add GNOME 41 compatibility to your extension.

[2021-10-05 19:17] p91paul commented on #162
Did you manage to test if it already works just by adding 41 to `shell-version` in `metadata.json`? I don't have Gnome 41 yet.

[2021-10-05 20:48] myousefnezhad commented on #162
Hi again. I indeed changed the "metadata.json" last night. I confirm that the default settings (with modified shell-version) work fine in Fedora 35 (preview) with GNOME 41.0. That's great. Thanks for the excellent extension.

[2021-10-08 20:08] fabianhjr commented on #162
Just tried it on NixOS unstable/development branch and it works great on GNOME 41.

There seems to be some flickering but inclined to think it is a GNOME shell issue.

[2021-10-30 13:48] p91paul commented on #162
I just uploaded a new version changing just metadata.json.
I hope it will be approved soon; unfortunately, gnome 41 is not on arch linux yet, so I was unable to test it.

[2021-10-30 13:48] #162 closed

[2021-10-30 14:02] machitgarha commented on #162
@p91paul

(As a side-note)

Wow, what a great news. I expected Gnome to break something, but that's not the case. So maybe things have changed. If it's a fact, I will be happy. And if it's a long-term decision, then I should "Hey Gnome developers, special thanks for this, and a big thumbs-up". I wish it be true.

[2021-11-11 08:05] eggbean commented on #142
@p91paul I had this working how I liked in earlier versions, but with these lines disabled in the current `keybinder.js` file, the extension doesn't seem to work at all. What has changed?

[code]

[2021-11-11 09:01] p91paul commented on #142
do you see any errors in journalctl logs?

[2021-11-13 15:18] eggbean commented on #142
What should I search for? `$ journalctl | grep -i cover` doesn't bring up anything.

[2021-11-14 11:34] #138 closed

[2021-11-14 11:39] p91paul commented on #155
This has been fixed for a while thanks to @dsheeler

[2021-11-14 11:39] #155 closed

[2021-11-14 11:42] p91paul commented on #108
@machitgarha @dsheeler can you confirm #158 fixed this as well?

[2021-11-14 15:30] machitgarha commented on #108
@p91paul I think so. The diff of the PR seems to fix this (adding `onComplete` event handler). Plus, I'm not able to reproduce it on my Fedora 35 box.

So, thanks @dsheeler for fixing this as well!

[2021-11-14 17:12] #108 closed

[2022-02-06 22:56] wildcard-f8 opened #163 "First use of Alt+Tab hangs."
Whenever I boot up my system, the first time I use Alt+Tab it does the animation and gets stuck there. I click it, nothing happens. I mouse scroll, nothing happens. I Alt+Tab again, nothing happens. I have to press Esc to go back, then Alt+Tab again, but this time it works perfectly for the rest of the day until I shutdown or reboot. Then the first instance always hangs and I have to use Esc again

[2022-02-06 22:59] p91paul commented on #163
Please state your gnome shell version and if you're on Wayland or Xorg.
I most certainly cannot reproduce but maybe someone can.
Also, please check your journalctl for an error stacktrace.

[2022-02-07 09:52] wildcard-f8 commented on #163
GNOME Shell 41.3
Xorg

I'm sorry, I'm not well versed in using linux so I don't know how to use journalctl to check for an error stacktrace. I'm using Manjaro btw and I tried using the new 5.15 LTS kernel and now it seems to work just fine. I'll report back if I experience it again.

[2022-02-10 21:24] p91paul commented on #163
closing for now then!

[2022-02-10 21:24] #163 closed

[2022-04-05 05:03] rudrab opened #164 "gnome 42 support"
Dear developer,
Can we expect gnome 42 support of this extension?

[2022-04-06 23:25] xerz-one commented on #164
Just did some testing -- currently, the extension *almost* works, but as soon as you try to exist from the switcher, GNOME doesn't know what to do, and stays in windowing limbo. If you manage to close down all the windows, the desktop session crashes entirely.

[2022-04-07 00:35] chrislea commented on #164
I'd also like to vote for a Gnome 42 compatible version. Thanks so much for your work on this software!

[2022-04-10 16:38] p91paul commented on #164
It'll take a while for me to find time to work on this. Pull request would be really appreciated.

[2022-04-10 19:10] appleton252 commented on #164
Same, this would be great. Thank you so much for this great extension!

[2022-04-11 17:49] Neo-29 commented on #164
same experience here

no panel back ( disappeared) and the shell freezes as soon as I exit the switcher

[2022-04-11 22:49] p91paul commented on #164
Courtesy of @dsheeler the master branch should now be Gnome 42 compatible. I'll try and update e.g.o. as soon as I find some time.

[2022-04-15 21:38] dsheeler commented on #164
@p91paul any chance I can help with updating the extension?

[2022-04-16 08:16] p91paul commented on #164
I've seen you being more active than me here for a few releases now. If you're interested, I can have the extension ownership transferred to you on e.g.o. and get you commit rights on this repository.

[2022-04-17 15:10] Neo-29 commented on #164
Hello,

I can confirm the code is good for gnome 42 (built from source)

doesn't break the shell anymore

[2022-04-19 02:13] dsheeler commented on #164
@p91paul sure!  I'd take ownership.

[2022-04-19 06:35] p91paul commented on #164
@dm60 could you please give @dsheeler commit rights on this repo?

[2022-04-19 17:12] dmo60 commented on #164
I added you as a collaborator @dsheeler. That should do it, right? If not, let me know and I'll take a second look.

Nice to see that this extension is still alive :) Thanks @p91paul & @dsheeler !

[2022-04-28 09:34] Alex-DA commented on #164
@dsheeler it seems that the Extension still outdated at https://extensions.gnome.org/extension/97/coverflow-alt-tab/

[2022-04-30 13:59] dsheeler commented on #164
And this is officially done! I became owner and updated the version on the extensions site. \o/ :)

[2022-04-30 14:00] #164 closed

[2022-05-15 08:01] dsancheznet opened #167 "Unable to install Coverflow after last update"
Since the last update on May 15th 2022 I am unable to install the plugin on Fedora 36. I came from a working version of the plugin and updated it this morning and Firefox throws an error.

I tried deleting and reinstalling and it keeps throwing an error.

Best regards
D.Sánchez

[2022-05-15 09:01] dsancheznet commented on #167
After a few reboots it started working again.

Thanks for the extension, great job!

[2022-05-15 09:01] #167 closed

[2022-05-15 14:51] dsheeler commented on #167
Sorry about the inconvenience! I'm not sure why that's happening, tbh.  Will try to figure it out!

[2022-05-15 15:21] dsheeler commented on #167
@dsancheznet Just found out that error happens with upgrading every extension: the browser shows an error until you restart gnome-shell and reload the page, i.e., NOT MY FAULT :D

[2022-05-26 11:33] N7K5 opened #168 "Issue with f4 in ubuntu 22.04"
Found a BUG in Ubuntu 22.04 Gnome 42.1 updated from Ubuntu 20.04 =>
while in coverflow, pressing f4 button closes two window in the animation while actually one window is closed (that is, two window gets invisible from coverflow)
playing with the code, found out that, In switcher.js, removing line no 300-
`this._checkDestroyedTimeoutId = Mainloop.timeout_add(
                    CHECK_DESTROYED_TI

[2022-05-26 19:19] dsheeler commented on #168
Thanks for reporting! That's a bit of the code I don't understand, atm, but I'll look into it

[2022-06-14 12:07] puzzle9 opened #170 "manjaro gnome 42.2 `CoverflowAltTab@dmo60.de` Memory overflow"
![image](https://user-images.githubusercontent.com/13518196/173573085-dd9d10b7-7f6d-4f41-9f99-b38d00f622ed.png)

![image](https://user-images.githubusercontent.com/13518196/173573307-dc522482-089e-4fd0-834c-1990bd2c22b9.png)

[2022-06-16 15:32] #168 closed

[2022-06-21 17:12] puzzle9 commented on #170
[code]
![image](https://user-images.githubusercontent.com/13518196/174858724-dd76322b-a057-4643-a134-e03b878ca777.png)

[2022-06-21 17:16] puzzle9 commented on #170
![image](https://user-images.githubusercontent.com/13518196/174859413-8aeaf6fb-3799-4619-aab1-30a0ade72936.png)

[2022-07-07 10:13] dsheeler commented on #126
@rakkarage, I'm about to make this happen

[2022-07-08 01:01] dsheeler commented on #126
https://user-images.githubusercontent.com/1632985/177895141-9f61aa66-a52b-4f40-8e10-dbe3918869d0.mp4

So this demos a couple things about the timeline switcher: the front window eases to a 0 degree angle  unlike above where every window has the same angle away from 0.  Do you like that?  Also, I have mouse-over events pulling a window to the top and easing it to a zero degree angle and to 120% its

[2022-07-08 01:45] machitgarha commented on #126
@dsheeler, although I wouldn't use the feature, but this is great! The details of the feature can be improved further for sure, but that's a good starting point. Thank you!

[2022-07-11 22:19] dsheeler commented on #126
@machitgarha, I want a way to highlight the window that would be selected by a click. Do you have a suggestion on how to do that? Color, effect, size, orientation, or otherwise?

[2022-07-11 22:23] dsheeler commented on #111
@SubhamSatyajeet I'm working on this and might commit very soon.

https://user-images.githubusercontent.com/1632985/178368555-0616a119-b5fa-4e10-b10d-b15439b9a5bf.mp4

[2022-07-12 02:24] machitgarha commented on #126
@dsheeler, I think changing the title box should always happen. It might seem obvious, the effect on window itself (or possibly other windows) should be different in Coverflow and Timeline styles.

In Coverflow mode, I suggest you to have the same effect as keyboard navigation, but without any scroll. So for example, highlighting a window causes the alt-tab-focused window to be moved aside, the mo

[2022-07-12 11:26] #111 closed

[2022-07-12 11:26] lomirus opened #173 "The windows on dual monitors only show on one side"
![](https://i.imgur.com/j3eWGHS.jpg)

I use the dual-monitor, but on such situation you can see from the image above that in the right screen, only the right side of it shows the windows. Though the windows on the left side are still there, they nearly became stripes.

[2022-07-28 14:34] WanWizard commented on #170
I did, and I can confirm this.

With only this extension installed, and with only few terminal windows (one with with top), if I press and hold alt-tab to continuesly and cycle through the windows, I can see the memory usage in top increase, until the systemd OOM killer steps in and kills gnome-shell.

I've been using this extension for quite a while (thanks !), but this problem only started recen

[2022-07-28 16:15] machitgarha commented on #170
I cannot reproduce the issue with Gnome 42.2. Maybe I'm missing something?

[2022-07-30 02:42] WanWizard commented on #170
I'm runnng Gnome 42.3, maybe the update to that version has triggered something?

For the moment I have assigned Alt-Tab to the Window switcher instead of the App Switcher so at least I have the functionality, and the laptop is stable as a rock again, no increasing memory usage anymore.

[2022-07-30 09:14] machitgarha commented on #170
@WanWizard, just installed 42.3 and... no problems so far. What distribution do you use? The problem is kind of weird.

[2022-07-30 14:11] WanWizard commented on #170
I'm on Fedora 36, up to date. It puzzles me too, never had any issues until the last couple of weeks.

[2022-08-14 21:15] firinael opened #174 "[REQUEST] Carousel style"
Hi, I find the default tab switching style kind of jarring when going from last to first. Would it be possible to add a carousel option where the tabs don't really "end"?

Thank you for your work!

[2022-08-20 15:04] puzzle9 commented on #170
when `/usr/bin/gnome-shell` run is `nvidia` can appear
[code]

![image](https://user-images.githubusercontent.com/13518196/185753171-40946d10-3354-41f0-8b1c-b528548e895a.png)

[2022-09-05 02:01] sammdu commented on #173
Same issue here! bumping for visibility.

I have my external monitor on the left, so for me, it's the right side that has thumbnails way too thin:

![coverflow-alt-tab-issue_1440](https://user-images.githubusercontent.com/10665890/188345692-5fec0ffc-b687-49b0-9dd3-74c2cc6be1d2.png)

[2022-09-11 15:07] dsheeler commented on #173
What would you think of putting it in the middle of the two monitor split?

[2022-09-11 15:52] sammdu commented on #173
@dsheeler I'm not sure that's a good idea. I use my monitors separately, rather than as one continuous piece.
I would prefer if it just behaved the same way it would on a single monitor.

[2022-10-02 07:19] tybor opened #175 "Incompatible with Gnome 43"
On https://extensions.gnome.org/extension/97/coverflow-alt-tab/ the extension is currently marked as outdated.

[2022-10-03 17:40] dsheeler commented on #175
@tybor, I actually don't see that it says it's outdated.  Can you post a screenshot?

[2022-10-03 18:29] tybor commented on #175
![image](https://user-images.githubusercontent.com/97251/193651775-1fb1aa02-4559-4863-b7c1-18fc763539ba.png)

[2022-10-03 18:31] tybor commented on #175
Btw, many kudos as it is a really good extension!

[2022-10-03 21:41] tybor commented on #175
![image](https://user-images.githubusercontent.com/97251/193690197-61736081-c2b4-49b9-929f-c6203c4851b5.png)

I followed the above suggestion, setting disable-extension-version-validation in org.gnome.shell dconf and it seems to work fine, so AFAICS there's just a "43" missing in metadata.json

[2022-10-03 22:11] dsheeler commented on #175
Another way to enable it without setting that dconf setting is to edit the metadata.json file and add "43" to shell-version:

[code]

[2022-10-03 22:14] dsheeler commented on #175
metadata.json would be in `~/.local/share/gnome-shell/extensions/CoverflowAltTab@dmo60.de` if you installed for just your user accout, or `/usr/share/gnome-shell/extensions/CoverflowAltTab@dmo60.de` if you installed for all users.  Probably you installed for just your user account.

[2022-10-12 18:06] kirmaha opened #176 "Coverflow for alt+tab only (not for super-tab)"
Hello,

I would like to use "Coverflow AltTab" extension only for navigating among opened windows (`org.gnome.desktop.wm.keybindings switch-windows`, alt+tab on my setup), not for navigating among running softwares (`org.gnome.settings-daemon.plugins.media-keys switch-applications`, super+tab on my setup). It is related to ergonomics :
* IMO, Coverflow view is super efficient when you need to see

[2022-10-20 03:55] bitnom commented on #72
I didn't even know the default can drop files. Now I'm sad.

[2022-10-20 03:57] bitnom commented on #126
+1 for wanting clicking feature. Sometimes it's just faster, especially when your mouse pointer already happens to be near your target window.

[2022-11-01 10:53] dsheeler commented on #126
Windows are clickable in the current version for download!

[2022-11-01 10:53] #126 closed

[2022-11-18 01:22] #175 closed

[2022-11-18 03:47] dsheeler commented on #176
@kirmaha Thank you for opening this issue. I'm not sure I understand what you're asking. Is it that you want super+tab to not activate coverflow at all?

[2022-11-18 07:10] dsheeler commented on #173
I've taken a stab at fixing this in d935e3d325991246021041461f61285185a7efc0. Could you checkout that commit and try the code?  It works for me, heh. Or, if you have github cli, you can run `% gh pr checkout 178`

[2022-11-18 07:32] dsheeler commented on #173
On my dual monitor setup, it works on both monitors.

![Screenshot-20221118011138-smaller](https://user-images.githubusercontent.com/1632985/202645201-4f0be80b-5386-47d7-841e-95a736e1e250.png)
![Screenshot-20221118012657-smaller](https://user-images.githubusercontent.com/1632985/202646179-62a58808-0eab-4455-b981-2393a8d74b66.png)

[2022-11-18 07:33] dsheeler commented on #173
Also works for me on three monitor setup.

[2022-11-18 08:09] kirmaha commented on #176
@dsheeler Thank you for your answer. Yes, exactly ! I would like to activate Coverflow for alt+tab only.
I'm sorry I explained it in a super convoluted way.

[2022-11-18 15:58] dsheeler commented on #176
@kirmaha, I apologize. I was not super clear on how the keybindings worked, so I didn't quite get your initial explanation, but I do now! I could make an option for this. Thank you for reporting this issue!

[2022-11-18 21:59] sammdu commented on #173
@dsheeler Thanks so much for looking into this!

I checked out your commit and copied the folder to my extensions directory. Unfortunately, the behavior is still weird:

![Screenshot-20221118164718-7680x2160_ds](https://user-images.githubusercontent.com/10665890/202809382-c75c644d-171b-4af1-95a6-afcbfc7d7581.png)

- the window on the right gets stretched very wide, and ends up behind the center wi

[2022-11-19 04:54] dsheeler commented on #176
@kirmaha, could you try this commit: 09e7ddff39d0683b51b63ab95525a9e58897c44b? I have options to enable/disable switch-windows and switch-applications keybindings, and they seem to work for me.

[2022-11-19 09:12] kirmaha commented on #176
@dsheeler, I would like to but I'm close to zero dev knowledge :-/ I'm able to edit .po files and pull requests to update them, but I suppose what you're asking is more complex than that ?

[2022-11-19 17:40] dsheeler commented on #176
@kirmaha, to try it is pretty simple. Do you usually use a development version or just the official releases? You could try on a fresh clone:

`% cd /tmp`
`% git clone git@github.com:dmo60/CoverflowAltTab.git`
`% cd CoverflowAltTab`
`% git checkout 09e7ddff39d0683b51b63ab95525a9e58897c44b`
`% make`

Let me know if you have any problems!

[2022-11-19 19:02] dsheeler commented on #173
@sammdu, What resolution are you using?

[2022-11-19 19:03] sammdu commented on #173
@dsheeler 3840x2160, at 200% scale.

[2022-11-19 21:49] kirmaha commented on #176
I use the official releases (that I install throught the flatpak Extensions manager).

Thank your for your help ! The second line returned and error (`git@github.com: Permission denied (publickey).`), but the following works : `git clone https://github.com/dmo60/CoverflowAltTab.git`.

I'm stuck with the `make` command, which returns :

In English, it means that no folder or file with "msgfmt" type

[2022-11-19 23:44] dsheeler commented on #176
I think you'd need to install a `gettext` package on your system to get that command.

[2022-11-20 08:47] kirmaha commented on #176
Indeed, after installing gettext, it works. Just had to figure out that you have to run the command `cp -r ...` and reboot. Easy indeed, thanks !
Aaaaand... yes, your two options to bind Coverflow to switch-windows and switch-applications do the job. Perfectly ! This is exactly what I was looking for, I'm super happy ! Thank you so much.

[2022-11-21 02:42] #176 closed

[2022-11-21 20:16] dsheeler commented on #173
@sammdu, could you try the latest on the `perspective-correction-for-off-center-monitors` branch?  I think it will work for you, now.

[2022-11-22 16:59] sammdu commented on #173
@dsheeler Thanks so much! Yes, the animation is working correctly this time!

There's one small thing though, large windows (maximized) remain large and end up covering the most of the screen. It would be better if large windows are scaled down so that other windows on the left and right can remain visible.
Other than that it's great!

[2022-11-22 17:08] dsheeler commented on #173
@sammdu, there's actually a setting for that: "Ratio of preview to monitor size"

I keep mine at 50%. Maybe you could suggest a better name if you didn't think that setting affects that.

![Screenshot-20221122110556-762x698](https://user-images.githubusercontent.com/1632985/203377060-a1fcf257-2e25-4103-8768-d85af960a19c.png)

[2022-11-22 17:28] sammdu commented on #173
@dsheeler Ah got it! Thanks for pointing this out. Now it's perfect!

I think the name is perfect, but perhaps set it to 50% by default?
(It's also possible I just messed with the settings and forgot about it :/)

[2022-11-23 23:10] #173 closed

[2022-11-23 23:13] dsheeler commented on #116
@CTimmerman, I just pushed some changes that make binding to 'switch-applications' optional, at least